<div class="full-height bg-white basket-summary" data-pos-basket-summary-sizes>

	<div class="full-height relative">

		<div data-pos-area-loader="updatingBasket"></div>

		<div id="basket-summary-header" class="p-10 clearfix" data-ng-class="{ 'b-b-dashed': basket.Items.length }">

			<div class="p-t-5 pull-left" data-pos-quote-number></div>

			<div data-pos-customer-signin class="pull-right visible-md visible-lg"></div>

		</div>

		<div id="basket-summary-quote-actions" class="quote-actions b-b-dashed" data-pos-quote-actions data-basket="basket" data-basket-size="basket.Items.length"></div>

		<div id="basket-summary-items" class="basket-item-scrollbar" data-jquery-scrollbar>

			<div class="table-responsive">

				<table class="table m-t-0 m-b-0">

					<tbody data-ng-if="basket.Items.length">

						<tr class="basket-item" data-ng-repeat-start="item in basket.Items" data-on-finish-render="basketItemsRendered">

							<td class="v-align-middle">

								<input type="number" size="2" class="form-control" min="{{ item.Product.MinimumQtyAllowed }}" max="{{ item.Product.MaximumQtyAllowed }}" data-ng-model="item.Quantity" data-ng-blur="changeProductQuantity(item)" data-ng-disabled="isBasketReadOnly() || updatingBasket" data-ng-class="{ 'form-control-disabled': isBasketReadOnly() }" required>

							</td>

							<td class="v-align-middle">

								<a href="#" class="basket-item-name" data-n6tg-click="toggleItemDetails(item.ProductID)">{{ item.Name }}</a>

								<span data-ng-if="item.Seller.HasSeller" class="basket-item-seller">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									{{ fetchSellerPointOfSale(item.Seller).Name }}
								</span>

							</td>

							<td class="v-align-middle text-right">

								<p class="text-black nowrap">

									<span class="small hint-text" data-ng-if="item.ListPrice !== item.BasketPrice">
										<del>{{ item.ListPrice | currency:'R$ ' }}</del>
									</span>

									<br>

									<span>{{ item.BasketPrice | currency:'R$ ' }}</span>

								</p>

							</td>

							<td class="v-align-middle" data-ng-if="!isBasketReadOnly()">

								<button type="button" class="btn btn-link" data-ng-click="removeProductFromBasket(item.BasketItemID)" data-ng-disabled="isBasketReadOnly()">
									<i class="fa fa-trash fa-1dot5x"></i>
								</button>

							</td>

						</tr>

						<tr data-ng-repeat="nestedItem in item.Nested" data-ng-hide="currentItemDetail === item.ProductID">

							<td class="v-align-middle text-center">
								{{ nestedItem.Quantity }}
							</td>

							<td class="v-align-middle">

								<span class="basket-item-name">{{ nestedItem.Name }}</span>

							</td>

							<td class="v-align-middle text-right">

								<p class="text-black nowrap">{{ nestedItem.RetailPrice | currency:'R$ ' }}</p>

								<p class="small hint-text" data-ng-if="nestedItem.ListPrice !== nestedItem.RetailPrice">
									<del>{{ nestedItem.ListPrice | currency:'R$ ' }}</del>
								</p>

							</td>

							<td class="v-align-middle">

							</td>

						</tr>

						<tr data-ng-repeat-end class="basket-item-details" data-ng-show="currentItemDetail === item.ProductID">

							<td colspan="2" style="background: #f1f1f1;">

								<div class="form-group">

									<label for="item-discount">Desconto</label>

									<div class="input-group">
										<input type="number" id="item-discount" class="form-control input-sm" min="0" max="100" data-ng-model="item.ItemDiscount" data-ng-blur="applyItemDiscount(item)" data-ng-disabled="isBasketReadOnly() || updatingBasket">
										<span class="input-group-addon">%</span>
									</div>

								</div>

							</td>

							<td colspan="2" style="background: #f1f1f1;">

								<button type="button" class="btn btn-default btn-sm open-details-modal pull-right" data-ng-click="openProductDetail(item.ProductID)">
									<i class="fa fa-eye" aria-hidden="true"></i>
									Detalhe do produto
								</button>

							</td>

						</tr>

					</tbody>

					<tfoot data-ng-if="!basket.Items.length">

						<tr>
							<td colspan="4" class="text-center">Ainda não foram adicionados produtos</td>
						</tr>

					</tfoot>

				</table>

			</div>

		</div>

		<div id="basket-summary-totals" class="table-responsive table-totals">

			<table class="table m-t-0 m-b-0">
				<tbody>

					<tr>

						<td class="text-black">
							<p class="text-black">Subtotal</p>
						</td>

						<td class="text-right">
							<p>{{ basket.SubTotal | currency:'R$ '}}</p>
						</td>

					</tr>

					<tr>

						<td class="v-align-middle text-black">

							<p class="text-black">Descontos</p>

							<a href="#open-gift-certificate-modal" data-ng-click="openGiftCertificateModal($event)" class="font-small" data-ng-if="!isBasketReadOnly()">

								<i class="fa fa-plus-circle" aria-hidden="true" data-ng-if="!basket.DiscountAmount"></i>
								<i class="fa fa-edit" aria-hidden="true" data-ng-if="basket.DiscountAmount"></i>

								Cupons/Vale-compras

							</a>

						</td>

						<td class="v-align-middle text-right text-black">
							{{ basket.DiscountAmount | currency:'R$ ' }}
						</td>

					</tr>

					<tr data-ng-if="basket.DeliveryAmount">

						<td>
							<p class="text-black">Frete</p>
						</td>

						<td class="text-right">
							{{ basket.DeliveryAmount | currency:'R$ ' }}
						</td>

					</tr>

					<tr>

						<td>
							<p class="text-black">Desconto representante</p>
						</td>

						<td class="text-right">

							<div class="pull-right">

								<div class="form-group form-group-default m-b-0 m-l-10" data-ng-if="!isBasketReadOnly()" data-ng-class="{ 'form-group-disabled': isBasketReadOnly() }">
									<input type="text" class="form-control input-sm text-right" data-ng-model="representativeDiscount.DiscountAmount" style="width: 25px;" data-ng-change="applyRepresentativeDiscount(representativeDiscount)" ng-model-options="{ updateOn: 'blur'}" data-ng-disabled="isBasketReadOnly() || !basket.Items.length" data-ng-class="{ 'form-control-disabled': isBasketReadOnly() }">
								</div>

								<span data-ng-if="isBasketReadOnly() && representativeDiscount.DiscountType.contains('Percentage')">
									{{ representativeDiscount.DiscountAmount }}%
								</span>

								<span data-ng-if="isBasketReadOnly() && !representativeDiscount.DiscountType.contains('Percentage')">
									{{ representativeDiscount.Amount | currency:'R$ ' }}
								</span>

							</div>

							<div class="pull-right" data-ng-if="!isBasketReadOnly()">

								<span>R$</span>

								<label class="switch">
									<input type="checkbox" data-ng-model="representativeDiscount.DiscountTypePercetage" data-ng-change="applyRepresentativeDiscount(representativeDiscount)" data-ng-checked="representativeDiscount.DiscountTypePercetage">
									<i aria-hidden="true"></i>
								</label>

								<span>%</span>
							</div>

						</td>

					</tr>

					<tr data-ng-if="basket.HasCompetenceDiscount">

						<td colspan="2" class="text-right">
							<small class="font-small text-danger">Limite ultrapassado.</small>
							<small  class="font-small">Uma solicitação de alçada será enviada ao fechar o pedido.</small>
							<a href="#" data-ng-click="openCompetencePasswordModal($event,representativeDiscount.DiscountAmount,representativeDiscount.DiscountTypePercetage);"><small  class="font-small">Aprovação com senha</small></a>
						</td>

					</tr>

					<tr>

						<td>
							<strong class="text-black">Total</strong></p>
						</td>

						<td class="text-right">
							<strong class="text-black">{{ basket.Total | currency:'R$ '}}</strong>
						</td>

					</tr>

				</tbody>
			</table>

		</div>

		<div data-pos-checkout-button data-btn-class="btn btn-success btn-lg btn-block visible-md visible-lg" id="basket-summary-continue" class="m-t-20 p-l-20 p-r-20"></div>

	</div>

</div>
