<div class="modal-header text-left">

	<button type="button" class="close" aria-hidden="true" data-ng-click="$dismiss($event)">
		<i class="pg-close fs-14"></i>
	</button>

	<h5 class="m-b-0">
		<span class="semi-bold">Avaliar solicitação de alçada</span>
	</h5>

</div>

<div class="modal-body relative">

	<div data-pos-area-loader="savingEvaluation"></div>

	<div class="row">

		<div class="col-md-12 form-group">

			<div class="radio radio-success pull-left">
				<input type="radio" value="true" name="approve" id="yes" name="approve" data-ng-model="competence.Evaluation.Approve" data-ng-checked="competence.Evaluation.Approve === 'true'">
				<label for="yes">Aprovar</label>
			</div>

			<div class="radio radio-danger pull-left m-l-10 m-t-10">
				<input type="radio" value="false" name="approve" id="no" name="approve" data-ng-model="competence.Evaluation.Approve" data-ng-checked="competence.Evaluation.Approve !== 'true'">
				<label for="no">Reprovar</label>
			</div>

		</div>

		<div class="form-group col-md-12 col-sm-12">

			<label for="comments">Observações</label>
			<small style="color: #777;">As observações <strong>não</strong> ficarão visíveis para os clientes.</small>

			<textarea id="comments" name="comments" class="form-control" rows="8" data-ng-model="competence.Evaluation.Comments"></textarea>

		</div>

		<div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
			<button type="button" class="btn btn-success btn-block m-t-5" data-ng-click="approve(competence)">Salvar</button>
		</div>

		<div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
			<button type="button" class="btn btn-default btn-block m-t-5" data-ng-click="$dismiss($event)">Cancelar</button>
		</div>

	</div>

</div>
