<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" data-ng-click="closeModal()">
        <i class="pg-close fs-14"></i>
    </button>
</div>

<div class="modal-body">
    <div class="container login-container bg-white">
        <div class="row authorization-modal">
            <h5 class="text-center">Aprovação de desconto manual</h5>
            <form name="form" role="form" data-ng-submit="submitAuthorize();">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group-default">
                            <label for="user">Usuário</label> 
                            <div class="controls">
                                <input type="text" id="user" name="user" class="form-control" aria-required="true" data-ng-model="authorizationModel.user" required="" aria-invalid="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group-default">
                            <label for="password">Senha de acesso</label> 
                            <div class="controls">
                                <input type="password" id="password" name="password" class="form-control" aria-required="true" data-ng-model="authorizationModel.password" required="" aria-invalid="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="DiscountAmount" name="DiscountAmount" class="form-control" aria-required="true" data-ng-model="vm.DiscountAmount" readonly="readonly" ng-value="authorizationModel.DiscountAmount" aria-invalid="true">
                        <p class="m-t-10">
                            Desconto solicitado: 
                            <strong ng-if="isPercent==true">{{representativeDiscount.DiscountAmount}} %</strong>
                            <strong ng-if="isPercent==false">{{representativeDiscount.DiscountAmount | currency:'R$ '}}</strong>
                        </p>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary p-l-80 p-r-80 p-t-10 p-b-10" type="submit" data-pos-loader="isRequesting" data-ng-disabled="form.$invalid"> Aprovar Alçada </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 text-center m-t-20">
            </div>
        </div>
    </div>
</div>