<div class="modal-header text-left">

	<button type="button" class="close" aria-hidden="true" data-ng-click="$dismiss($event)">
		<i class="pg-close fs-14"></i>
	</button>

	<h5 class="m-b-0">
		<span class="semi-bold">Histórico de avaliações da alçada</span>
	</h5>

	<p>Alçada solicitada: <strong>{{ history.amount.percentualDiscount }}%</strong></p>

</div>

<div class="modal-body">

	<div class="row">

		<div class="col-md-12">

			<table class="table table-hover table-condensed table-bordered no-footer table-fixborder">

				<thead>

					<tr>
						<th width="10%">Data</th>
						<th width="30%">Responsável</th>
						<th width="20%">Alçada</th>
						<th width="20%">Observação</th>
						<th width="20%">Status</th>
					</tr>
				</thead>

				<tbody>

					<tr data-ng-repeat="item in history.items">

						<td>{{ item.Date | date:'dd/MM/yyyy' }}</td>
						<td>{{ item.SalesRepresentativeName }}</td>
						<td>
							{{ item.CompetenceAmount }}%
							<small>{{ item.DiscountAmount | currency:'R$ ' }}</small>
						</td>

						<td>

							<span data-ng-if="item.Comments">{{ item.Comments }}</span>
							<span data-ng-if="!item.Comments">N/A</span>

						</td>

						<td>

							<span class="text-success" data-ng-if="item.Status === 'Aprovado'">
								<i class="fa fa-check-circle" aria-hidden="true"></i>
								{{ item.Status }}
							</span>

							<span class="text-warning" data-ng-if="item.Status === 'Aguardando aprovação'">
								<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
								{{ item.Status }}
							</span>

							<span class="text-danger" data-ng-if="item.Status === 'Reprovado'">
								<i class="fa fa-times-circle" aria-hidden="true"></i>
								{{ item.Status }}
							</span>

						</td>
					</tr>

				</tbody>

			</table>

		</div>

	</div>

</div>
