<div class="full-height">

	<ul class="breadcrumb">
		<li data-pos-go-to></li>
	</ul>

	<h2>
		<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
		Alçadas
	</h2>

	<hr>

	<div class="row">

		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 waiting">

			<h5 class="bold no-margin pull-left">
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
				<span data-ng-pluralize data-count="statistics.Waiting" data-when="{'0': '0 alçadas', 'one': '1 alçada', 'other': '{} alçadas'}"></span>
			</h5>

			<p class="small no-margin pull-left m-t-10 m-l-5">
				Aguardando aprovação
			</p>

		</div>

		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 approved">

			<h5 class="bold no-margin pull-left">
				<i class="fa fa-check-circle" aria-hidden="true"></i>
				<span data-ng-pluralize data-count="statistics.Approved" data-when="{'0': '0 alçadas', 'one': '1 alçada', 'other': '{} alçadas'}"></span>
			</h5>

			<p class="small no-margin pull-left m-t-10 m-l-5">
				<span data-ng-pluralize data-count="statistics.Approved" data-when="{'0': 'Aprovadas', 'one': 'Aprovada', 'other': 'Aprovadas'}"></span>
				(este mês)
			</p>

		</div>

		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 reproved">

			<h5 class="bold no-margin pull-left">
				<i class="fa fa-times-circle" aria-hidden="true"></i>
				<span data-ng-pluralize data-count="statistics.Reproved" data-when="{'0': '0 alçadas', 'one': '1 alçada', 'other': '{} alçadas'}"></span>
			</h5>

			<p class="small no-margin pull-left m-t-10 m-l-5">
				<span data-ng-pluralize data-count="statistics.Reproved" data-when="{'0': 'Reprovadas', 'one': 'Reprovada', 'other': 'Reprovadas'}"></span>
				(este mês)
			</p>

		</div>

	</div>

	<hr>

	<form role="form" data-ng-submit="filterList(filter)">


		<div class="row">
			<h5 class="col-md-12 col-xs-12">Pesquisar por:</h5>
			<div>

				<div class="row">

					<div class="form-group col-md-2 col-sm-4">

						<label for="quoteNumber">Número do pedido</label>
						<input type="text" class="form-control" id="quoteNumber" name="quoteNumber" data-ng-model="filter.QuoteNumber" data-disable-valid-styling="true">

					</div>

					<div class="form-group col-md-4 col-sm-6">

						<label for="initialDate">Período</label>

						<div class="input-daterange input-group">

							<input type="text" class="form-control" id="initialDate" name="initialDate" data-ng-model="filter.InitialDate" data-disable-valid-styling="true" data-pos-datepicker data-options="{ 'orientation': 'bottom' }">

							<span class="input-group-addon">até</span>

							<input type="text" class="form-control" id="finalDate" name="finalDate" data-ng-model="filter.FinalDate" data-disable-valid-styling="true" data-pos-datepicker data-options="{ 'orientation': 'bottom' }">

						</div>

					</div>

					<div class="form-group col-md-2 col-sm-4">

						<label>Status</label>

						<select class="form-control" data-ng-model="filter.CompetenceStatus" data-ng-options="status as status.value for status in competenceStatusList track by status.id" data-disable-valid-styling="true">
							<option value="">Todos</option>
						</select>

					</div>

					<div class="form-group col-md-2 col-sm-4">

						<label class="invisible" aria-hidden="true">Buscar</label>

						<button type="submit" class="btn btn-complete btn-sm btn-block">
							<i class="fa fa-search"></i> Buscar
						</button>

					</div>

				</div>

			</form>

			<div class="panel panel-transparent">

				<div class="table-responsive">

					<table class="table table-hover table-detailed table-condensed no-footer">

						<thead>

							<tr role="row">
								<th width="21%">Nº pedido</th>
								<th width="12%">Itens</th>
								<th width="16%">Valor</th>
								<th width="16%">Alçada</th>
								<th width="18%">Solicitada em</th>
								<th width="17%">Status</th>
							</tr>

						</thead>

						<tbody data-ng-show="creditCompetences.length">

							<tr role="row" data-ng-class="{ 'shown': currentDetails === item.CompetenceID, 'warning': item.HasChanges }" data-ng-click="getDetails(item.CompetenceID, $index)" data-ng-repeat-start="item in creditCompetences">
								<td class="v-align-middle semi-bold">{{ item.OrderNumber }}</td>
								<td class="v-align-middle semi-bold">{{ item.TotalItems }}</td>
								<td class="v-align-middle">{{ item.Total | currency:"R$ " }}</td>
								<td class="v-align-middle">
									<strong>{{ item.PercentualDiscountAmount }}%</strong>
									<small style="font-weight: normal; color: #8e8e8e;">({{ item.DiscountAmount | currency:"R$ " }})</small>
								</td>
								<td class="v-align-middle">{{ item.CreatedDate | date:"dd/MM/yyyy" }}</td>
								<td class="v-align-middle">

									<span class="text-success" data-ng-if="item.Status === 'Aprovado'">
										<i class="fa fa-check-circle" aria-hidden="true"></i>
										{{ item.Status }}
									</span>

									<span class="text-warning" data-ng-if="item.Status === 'Aguardando aprovação'">
										<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
										{{ item.Status }}
									</span>

									<span class="text-danger" data-ng-if="item.Status === 'Reprovado'">
										<i class="fa fa-times-circle" aria-hidden="true"></i>
										{{ item.Status }}
									</span>

								</td>
							</tr>

							<tr class="row-details" data-ng-if="currentDetails === item.CompetenceID" data-ng-repeat-end>

								<td colspan="6" data-ng-show="item.Details">

									<div class="table-responsive">

										<table class="table table-inline details-table">

											<tbody>

												<tr>

													<td>

														<div class="row">

															<div class="block-info col-md-3">

																<div class="panel no-border bg-white no-margin">
																	<h4>Respondida em:</h4>
																	<h3>
																		<span data-ng-if="item.Details.ModifiedDate">{{ item.Details.ModifiedDate | date:"dd/MM/yyyy" }}</span>
																		<span data-ng-if="!item.Details.ModifiedDate">-</span>
																	</h3>
																</div>

															</div>

															<div class="block-info col-md-4">

																<div class="panel no-border bg-white no-margin">
																	<h4>Solicitada para:</h4>
																	<h3>{{ item.Details.CustomerName }}</h3>
																</div>

															</div>

															<div class="block-info col-md-5">

																<div class="panel no-border no-margin text-right" style="background: transparent;">

																	<button class="btn btn-default btn-sm" data-ng-click="getHistory(item)">
																		<i class="fa fa-calendar m-r-5"></i>
																		Histórico
																	</button>

																	<button class="btn btn-primary btn-sm" data-ng-click="approveModal(item)" data-ng-if="isApprover(item)">
																		Avaliar
																	</button>

																</div>

															</div>

														</div>

														<hr>

													</td>

												</tr>

												<tr>
													<td>

														<h5>
															<strong>Produtos</strong>
														</h5>

														<div class="table-responsive">

															<table class="table table-hover table-condensed table-bordered no-footer">

																<thead>

																	<tr>
																		<th width="35%">Nome</th>
																		<th>Qtde</th>
																		<th>Valor unitário</th>
																		<th>Desconto</th>
																		<th>Total</th>
																	</tr>

																</thead>

																<tbody>

																	<tr data-ng-repeat="product in item.Details.Items">
																		<td>{{ product.ProductName }}</td>
																		<td>{{ product.Quantity }}</td>
																		<td>{{ product.Price | currency:"R$ "}}</td>
																		<td class="discount">{{ product.DiscountAmount }}%</td>
																		<td>{{ product.Total | currency:"R$ "}}</td>
																	</tr>

																</tbody>
																<tfoot>
																	<tr class="totals-footer">
																		<td colspan="4" class="text-right">
																			<h6>Subtotal:</h6>
																		</td>
																		<td class="bold">{{ item.Details.SubTotal | currency:"R$ " }}</td>
																	</tr>
																	<tr class="totals-footer">
																		<td colspan="4" class="text-right">
																			<h6>Descontos:</h6>
																		</td>
																		<td>
																			<strong>- {{ item.Details.DiscountAmount | currency:"R$ " }}</strong>
																		</td>
																	</tr>
																	<tr class="totals-footer">
																		<td colspan="4" class="text-right">
																			<h6>Frete:</h6>
																		</td>
																		<td class="bold">
																			R$ {{ item.Details.DeliveryAmount | currency:"R$ " }}
																		</td>
																	</tr>
																	<tr class="totals-footer">
																		<td colspan="4" class="text-right">
																			<h6>Total:</h6>
																		</td>
																		<td class="bold">{{ item.Details.Total | currency:"R$ " }}</td>
																	</tr>
																</tfoot>

															</table>

														</div>

													</td>

												</tr>

											</tbody>

										</table>

									</div>

								</td>

								<td data-ng-show="!item.Details" colspan="6">
									<p>Carregando...</p>
								</td>

							</tr>

						</tbody>

						<tfoot data-ng-show="!creditCompetences.length">

							<tr>
								<td colspan="6">{{ noResultText }}</td>
							</tr>

						</tfoot>

					</table>

				</div>

			</div>

		</div>
