<div class="modal-header text-left">
	<button type="button" class="close" aria-hidden="true" data-ng-click="closeModal()">
		<i class="pg-close fs-14"></i>
	</button>
	<h5><span class="semi-bold">Escolha o ponto de venda atual</span></h5>
</div>

<div class="modal-body">

	<div class="container point-of-sales-list bg-white">

		<div class="row">

			<div class="col-md-12 text-center m-t-20 form-group clearfix sugestion-box">

				<div data-ng-repeat="pointOfSale in pointOfSales" class="pull-left col-md-6 col-xs-12">
					<h6 data-pos-loader="isRequesting(pointOfSale)" data-ng-click="selectPointOfSale(pointOfSale)" class="label pos-item" role="button">
						{{ pointOfSale.Name }}
						<br>
						<small data-ng-bind="formatAddress(pointOfSale)"></small>
						<i data-ng-if="isSelected(pointOfSale)" class="selected-icon fa fa-check"></i>
					</h6>
				</div>

			</div>

		</div>

	</div>

</div>
