<div>

	<div class="modal-header clearfix text-left">

		<button type="button" class="close" aria-hidden="true" data-dismiss="modal" data-ng-click="$dismiss()">
			<i class="pg-close fs-14" aria-hidden="true"></i>
		</button>

		<h5 class="semi-bold" data-ng-if="options.title">{{ options.title }}</h5>

	</div>

	<div class="modal-body">

		<p data-ng-if="options.message">
			<span data-ng-bind-html="options.message"></span>
		</p>

		<form id="cgPromptForm" name="form.cgPromptForm" data-ng-if="options.input" data-ng-submit="submit()">

			<div class="form-group" data-ng-class="{ 'has-error': cgPromptForm.$invalid && changed }">

				<label for="cgPromptInput">{{ options.label }}</label>

				<input id="cgPromptInput" type="text" class="form-control" placeholder="{{ options.label }}" data-ng-model="input.name" data-ng-change="changed=true" data-ng-if="!options.values || options.values.length === 0" disable-valid-styling="true" autofocus required>

				<div class="input-group" data-ng-if="options.values">

					<input id="cgPromptInput" type="text" class="form-control" placeholder="{{ options.label }}" data-ng-model="input.name" data-ng-change="changed=true" disable-valid-styling="true" autofocus required>

					<div class="input-group-btn" dropdown>

						<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle data-toggle="dropdown">
							<span class="caret"></span>
						</button>

						<ul class="dropdown-menu pull-right">
							<li data-ng-repeat="value in options.values">
								<a href="#" data-ng-click="input.name = value">{{ value }}</a>
							</li>
						</ul>

					</div>

				</div>

			</div>

		</form>

	</div>

	<div class="modal-footer">

		<div class="row" data-ng-if="options.buttons">

			<div data-ng-repeat="button in options.buttons track by button.label" class="{{ button.colClass }}">

				<button class="btn {{ button.btnClass }}" data-ng-click="buttonClicked(button)" data-ng-disabled="button.primary && options.input && !input.name">
					{{ button.label }}
				</button>

			</div>

		</div>

	</div>

</div>
