<div class="modal-content">
	<div class="modal-header clearfix text-left">
		<button type="button" data-ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true"> <i class="pg-close fs-14"></i>
		</button>
		<h5 class="semi-bold">{{ !address ? 'Cadastrar endereço' : 'Editar endereço' }}</h5>
		<p data-ng-if="!!isRequired" class="alert-address" style="color: #626262; margin-bottom: 30px; padding: 10px; width: 100%; background-color: #FFDDDD;">
			<strong>Este cliente não possui um endereço cadastrado.</strong> Por favor, cadastre um endereço no formulário abaixo para continuar com o checkout.
		</p>
	</div>
	<div class="modal-body">

		<div data-address="address" data-pos-customer-address-form>
			Carregando...
		</div>
		<div class="clearfix"></div>
	</div>
</div>
