<div class="tab-pane" id="orcamentos">
	<div class="row column-seperation">
		<div class="col-md-12">
			<div class="table-responsive">
				<div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer">
					<div id="tableOrcamentos_wrapper" class="dataTables_wrapper no-footer">
						<table class="table table-hover dataTable no-footer" id="tableOrcamentos" role="grid">
							<thead>
								<tr role="row">
									<th width="20%" class="sorting_disabled" rowspan="1" colspan="1">Nº orçamento</th>
									<th width="20%" class="sorting_disabled" rowspan="1" colspan="1">Data / Hora</th>
									<th width="20%" class="sorting_disabled" rowspan="1" colspan="1">Representante</th>
									<th width="10%" class="sorting_disabled" rowspan="1" colspan="1">Itens</th>
									<th width="15%" class="sorting_disabled" rowspan="1" colspan="1">Total</th>
									<th width="15%" class="sorting_disabled" rowspan="1" colspan="1">Status</th>
								</tr>
							</thead>
							<tbody>
								<tr role="row" class="odd" data-ng-repeat="i in [] | range: 7">
									<td class="v-align-middle semi-bold">
										<a href="#">OC-25249-0001</a>
									</td>
									<td class="v-align-middle">
										11/05/2016
										<span>08:25</span>
									</td>
									<td class="v-align-middle semi-bold">Ricardo Silva</td>
									<td class="v-align-middle semi-bold">12</td>
									<td class="v-align-middle">R$ 180,00</td>
									<td class="v-align-middle">
										<span> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
											Aguardando
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
