<div class="tab-pane" id="credits">

	<div class="row">

		<div class="col-md-12">

			<div class="panel panel-default clearfix">

				<div class="row">

					<div class="col-md-6 col-xs-12 text-center">

						<h2 class="no-margin">
							<strong>R$ 2.000,00</strong>
						</h2>

						<h5 class="no-margin">Crédito disponível</h5>

					</div>

					<div class="col-md-6 col-xs-12">

						<p>
							<strong>Esse é o crédito disponível para compras no momento.</strong>
							<br>
							Os créditos poderão ser utilizados como meio de pagamento ao finalizar uma compra.
						</p>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>
