 <div class="modal-content">
 	<div class="modal-header clearfix text-left">
 		<button type="button" data-ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">
 			<i class="pg-close fs-14"></i>
 		</button>
 		<h5 class="semi-bold">Editar informações</h5>
 	</div>
 	<div class="modal-body">
 		<ul class="nav nav-tabs nav-tabs-linetriangle " >
 			<li class="active">
 				<a data-toggle="tab" href="#userData" class="tab-user-information"><span>Dados do cliente</span></a>
 			</li>
 			<li>
 				<a data-toggle="tab" href="#userAddress" class="tab-user-information"><span>Endereços cadastrados</span></a>
 			</li>
 		</ul>
 		<div class="tab-content" id="userInformationContainer">
 			<div class="tab-pane active" id="userData">
 				<br>
 				<div data-pos-customer-edit></div>
 			</div>
 			<div class="tab-pane" id="userAddress">
 				<div data-ng-if="!addresses.length">
 					<p data-ng-bind="addressesResultMsg"></p>
 				</div>
 				<div data-ng-show="addresses.length && !addressToEdit">
 					<p data-ng-repeat="address in addresses" class="small hint-text box">
 						<i class="fa fa-map-marker" aria-hidden="true" style="margin-right: 2px;"></i> Endereço:<span style="float: right;">
 						<a href="#" data-ng-click="editAddress(address)" class="edit-address"><i class="fa fa-edit" style="margin-right: 5px;"></i>Editar</a></span>
 						<span data-ng-bind="formatAddress(address)"></span>
 					</p>
 				</div>
 				<div id="userEditAddress" data-ng-show="!!addressToEdit">
 					<div data-address="addressToEdit" data-pos-customer-address-form>
 						Carregando...
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>
 <!-- /.modal-content -->
