<div class="modal-header clearfix text-left">

	<button type="button" class="close" aria-hidden="true" data-ng-click="$dismiss($event)">
		<i class="pg-close fs-14" aria-hidden="true"></i>
	</button>

	<h5>
		<span class="semi-bold">Adicionar cupom ou vale-compras</span>
	</h5>

</div>

<div class="modal-body">

	<div class="gift-certificate-container">

		<form name="couponForm" role="form" data-ng-submit="addCoupon(vm.couponCode)">

			<div class="row">

				<div class="col-md-9">

					<div class="form-group">
						<label for="couponCode">Código de cupom</label>
						<input type="text" class="form-control" id="couponCode" name="couponCode" data-ng-model="vm.couponCode" placeholder="Informe o código do cupom" required>
					</div>

				</div>

				<div class="col-md-3">

					<div class="form-group">

						<label class="invisible" aria-hidden="true">Aplicar</label>

						<button type="submit" class="btn btn-success btn-block" data-ng-disabled="couponForm.$invalid || applyingCoupon">
							Aplicar
						</button>

					</div>

				</div>

			</div>

		</form>

		<div class="container" data-ng-if="discounts.length">

			<div class="row">

				<div class="col-md-12">

					<div class="form-group">

						<div class="table-responsive">

							<div class="form-inline no-footer">

								<table class="table table-hover table-condensed" role="grid">
									<thead>
										<tr role="row">
											<th colspan="2">Cupons aplicados</th>
										</tr>
									</thead>
									<tbody>

										<tr role="row" data-ng-repeat="item in discounts">

											<td class="v-align-middle semi-bold">
												{{ item.Code }}
											</td>

											<td class="v-align-middle">

												<button class="btn btn-danger btn-sm pull-right" data-ng-click="removeCoupon(item.Code)" data-ng-disabled="removingCoupon">
													Remover
												</button>

											</td>

										</tr>

									</tbody>
								</table>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="row" data-ng-if="true">

			<div class="col-md-12">

				<div class="form-group">
					<label>Vale-compras</label>
				</div>

				<div data-ng-include="giftCertificateView"></div>

			</div>

		</div>

	</div>

</div>
