<div class="tab-pane" id="cupons" data-ng-controller="CustomerGiftCertificateController">

    <div class="row">

        <div class="col-md-12">

            <div class="table-responsive">

                <table class="table table-hover" role="grid">

                    <thead>
                        <tr role="row">
                            <th>Código</th>
                            <th>Data de Validade</th>
                            <th>Desconto</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody data-ng-show="giftCertificates.length">

                        <tr data-ng-repeat="item in giftCertificates | orderBy:'GiftCertificateValidationDate': true" role="row">
                            <td class="v-align-middle" data-ng-bind="item.Code"></td>
                            <td class="v-align-middle" data-ng-bind="item.GiftCertificateValidationDate | date : 'dd/MM/yyyy'"></td>
                            <td class="v-align-middle" data-ng-bind="item.AmountBalance | currency:'R$ '"></td>
                            <td class="v-align-middle">

                                <button class="btn btn-success btn-sm" data-ng-if="item.GiftCertificateStatus !== 'Used' && !item.IsExpired" data-ng-click="useCoupon(item)" data-pos-loader="loading && loading === item.Code">
									Aplicar
								</button>

                                <span data-ng-if="item.GiftCertificateStatus === 'Used' || item.IsExpired">-</span>

                            </td>
                        </tr>

                    </tbody>

                    <tfoot data-ng-if="!giftCertificates.length">

                        <tr>
                            <td colspan="4" data-ng-bind="noResultText"></td>
                        </tr>

                    </tfoot>

                </table>

            </div>

        </div>

    </div>

</div>