<div class="full-height">

	<ul class="breadcrumb">
		<li data-pos-go-to></li>
	</ul>

	<h2>
		<i class="fa fa-user"></i>Cliente:
		<a href="#" data-ng-click="openEditModal()">
			<strong data-ng-bind="customer.fullName"></strong>&nbsp;<i class="fa fa-edit" style="margin-left: 12px; font-size: 16px;"></i>
		</a>
		<span class="pull-right">
			<a href="#" data-ng-click="changeCustomer()"><i class="fa fa-refresh" aria-hidden="true"></i> Trocar cliente</a>
		</span>
	</h2>

	<hr>

	<div class="row" data-ng-if="false">

		<div class="col-lg-3 col-md-12">
			<h5 class="bold no-margin">12 dias atrás</h5>
			<p class="small no-margin">Última compra </p>
		</div>

		<div class="col-lg-3 col-md-3">
			<h5 class="bold no-margin">3,2 compras/mês</h5>
			<p class="small no-margin">Média de compras </p>
		</div>

		<div class="col-lg-3 col-md-3">
			<h5 class="bold no-margin">R$ 173,00</h5>
			<p class="small no-margin">Ticket médio (cliente)</p>
		</div>

		<div class="col-lg-3 col-md-3">
			<h5 class="bold no-margin">R$ 32.300,00</h5>
			<p class="small no-margin">Total de compras acumulado</p>
		</div>

	</div>

	<div class="panel panel-transparent">

		<ul class="nav nav-tabs nav-tabs-linetriangle client-tabs" data-tab-container="#pos-tab-container" data-pos-tab>

			<li>
				<a data-tab-active data-tab-url="/Partials/Domains/Customer/order.html" href="#order">
					<span>Pedidos</span>
				</a>
			</li>

			<li>
				<a data-tab-url="/Partials/Domains/Customer/order-candidate.html" href="#order-candidate">
					<span>Carrinhos abandonados</span>
				</a>
			</li>

			<li>
				<a data-tab-url="/Partials/Domains/Customer/quote.html" href="#quote">
					<span>Orçamentos</span>
				</a>
			</li>

			<li>
				<a data-tab-url="/Partials/Domains/Customer/wishlist.html" href="#wishlist">
					<span>Listas de desejos</span>
				</a>
			</li>

			<li>
				<a data-tab-url="/Partials/Domains/Customer/gift-certificate.html" href="#gift-certificate">
					<span>Vale-compras</span>
				</a>
			</li>

			<li>
				<a data-tab-url="/Partials/Domains/Customer/loyalty-program.html" href="#loyalty-program">
					<span>Pontos</span>
				</a>
			</li>

			<li data-ng-if="false">
				<a data-tab-url="/Partials/Domains/Customer/credits.html" href="#credits">
					<span>Créditos</span>
				</a>
			</li>

		</ul>

		<div id="pos-tab-container" class="tab-content">

			<div id="orcamentos">
				Orçamentos
			</div>

		</div>

	</div>

</div>
