<div class="tab-pane loyalty-program" id="loyalty-program" data-ng-controller="CustomerLoyaltyProgramController">

	<div class="card-validation">
		<div class="bg-check-card"></div>
		<div class="progress-circle-indeterminate progress-circle-success check-card"></div>
		<i class="fa fa-check-circle check-complete"></i>
	</div>

	<div class="row">

		<div class="col-md-12">

			<div class="panel panel-default clearfix p-t-20 p-l-20 p-b-20 p-r-20">

				<div class="row">

					<div class="col-md-6 col-xs-12 text-center">

						<h2 class="no-margin">
							<strong>{{ profileLoyalty.BalancePoints }}</strong><small> / {{ profileLoyalty.BalanceAmount | currency:'R$ '}}</small>
						</h2>

						<h5 class="no-margin">Pontos para resgate</h5>

					</div>

					<div class="col-md-6 col-xs-12">

						<form name="form" data-ng-submit="redeem(rescuePoints)" role="form">

							<div class="form-group form-group-default input-group">

								<label for="rescuePoints">Resgate de pontos</label>
								<input type="number" class="form-control error" id="rescuePoints" name="rescuePoints" aria-required="true" min="{{ profileLoyalty.MinimumExchangeQtyPerPoint }}" max="{{ profileLoyalty.BalancePoints }}" data-ng-model="rescuePoints" data-ng-disabled="profileLoyalty.BalancePoints === 0">

								<span class="input-group-addon p-t-0 p-l-0 p-b-0 p-r-0">
									<button type="submit" class="btn btn-success btn-rescue-points" data-ng-disabled="form.rescuePoints.$invalid || rescuePoints === undefined">Resgatar</button>
								</span>

							</div>

							<small class="help-block" data-ng-class="{ 'text-danger': form.rescuePoints.$touched && form.$invalid }">O resgate mínimo é de {{ profileLoyalty.MinimumExchangeQtyPerPoint }} pontos</small>

						</form>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="row" data-ng-if="redeemed">

		<div class="col-md-10">

			<div class="alert alert-success" role="alert">
				<button class="close" data-dismiss="alert" data-ng-click="toggleRedeemed()"></button>
				<strong>Vale-compras gerado: </strong>Pontos convertidos no vale-compras de código <strong>{{ redeemed.Code }}</strong>.
			</div>

		</div>

		<div class="col-md-2">
			<button type="button" class="btn btn-success btn-block" data-ng-click="useCoupon(redeemed.Code)">Aplicar</button>
		</div>

	</div>

	<div class="row">

		<div class="col-md-6">
			<h4>Histórico de pontos</h4>
		</div>

		<div class="col-md-2">
			<h5 class="text-right">Filtrar:</h5>
		</div>

		<div class="col-md-4 p-t-0">

			<form role="form">

				<div class="form-group m-t-10">

					<select class="form-control" data-ng-model="search" data-ng-options="search as search.name for search in filterOptions track by search.id"></select>

				</div>

			</form>

		</div>

	</div>

	<div class="row">

		<div class="col-md-12">

			<div class="table-responsive">

				<div class="form-inline no-footer">

					<table class="table table-hover no-footer" role="grid">

						<thead>
							<tr role="row">
								<th>Data</th>
								<th>Operação</th>
								<th>Pontos</th>
							</tr>
						</thead>

						<tbody>

							<tr role="row" data-ng-repeat="transaction in profileLoyalty.Transactions | filter:search.id">
								<td class="v-align-middle semi-bold">{{ transaction.Date | date:'dd/MM/yyyy' }}</td>
								<td class="v-align-middle">
									<span data-ng-if="transaction.Type === 'Redemption'">Resgate</span>
									<span data-ng-if="transaction.Type === 'Award'">Compra efetuada</span>
								</td>
								<td class="v-align-middle">

									<span class="bold color-red" data-ng-if="transaction.Type === 'Redemption'">-{{ transaction.Points }}</span>
									<span class="bold color-green" data-ng-if="transaction.Type === 'Award'">+{{ transaction.Points }}</span>
									/ {{ transaction.Amount | currency:'R$ ' }}

								</td>
							</tr>

						</tbody>

						<tfoot data-ng-show="!profileLoyalty.Transactions.length">
							<tr>
								<td colspan="3">Nenhuma transação encontrada</td>
							</tr>
						</tfoot>

					</table>

				</div>

			</div>

		</div>

	</div>

</div>
