<div class="tab-pane" id="abandoned" data-ng-controller="CustomerOrderCandidateController">
    <div class="panel panel-transparent">

        <form data-ng-submit="search()" role="form" novalidate>

            <div class="row">
                <h5 class="col-md-2 col-xs-12">Pesquisar por:</h5>
            </div>

            <div class="row">

                <div class="col-md-5 col-xs-6">
                    <div class="form-group">
                        <label for="WebSiteID">Canal</label>
                        <select class="form-control" id="WebSiteID" name="WebSiteID" data-ng-options="item as item.label for item in webSitelList track by item.id" data-ng-model="filters.WebSiteID" disable-valid-styling="true">
							<option value="">Todos os canais</option>
						</select>
                    </div>
                </div>

                <div class="form-group col-md-5 col-xs-6">
                    <label>Período</label>
                    <div class="input-daterange input-group" id="períod">
                        <input data-pos-datepicker data-options="{ 'orientation': 'bottom' }" type="text" class="form-control" name="StartDate" data-ng-model="filters.StartDate" disable-valid-styling="true">
                        <span class="input-group-addon">até</span>
                        <input data-pos-datepicker data-options="{ 'orientation': 'bottom' }" type="text" class="form-control" name="EndDate" data-ng-model="filters.EndDate" disable-valid-styling="true">
                    </div>
                </div>

                <div class="col-md-2 col-xs-6">
                    <div class="form-group">
                        <label class="invisible" aria-hidden="true">Buscar</label>
                        <button type="submit" class="btn btn-complete btn-sm btn-block">
							<i aria-hidden="true" class="fa fa-search"></i>
							Buscar
						</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="row column-seperation">

        <div class="col-md-12">

            <div class="table-responsive">

                <table class="table table-hover table-condensed table-detailed no-footer" role="grid">

                    <thead>
                        <tr role="row">
                            <th>Canal</th>
                            <th>Data / Hora</th>
                            <th>Itens </th>
                            <th>Total</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr role="row" data-ng-class="{ 'shown': currentDetails === orderCandidate.BasketID }" data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat-start="orderCandidate in orderCandidates">

                            <td class="v-align-middle semi-bold" data-ng-click="getOrderCandidateDetails(orderCandidate.BasketID, $index)">

                                <i class="fa fa-map-marker" aria-hidden="true"></i> {{ orderCandidate.WebSiteName }}

                            </td>

                            <td class="v-align-middle" data-ng-click="getOrderCandidateDetails(orderCandidate.BasketID, $index)">
                                {{ orderCandidate.Date | date:'dd/MM/yyyy' }} <span>{{ orderCandidate.Date | date:'HH:mm' }}</span>
                            </td>

                            <td class="v-align-middle semi-bold" data-ng-click="getOrderCandidateDetails(orderCandidate.BasketID, $index)">
                                {{ orderCandidate.ItensQty }}
                            </td>

                            <td class="v-align-middle" data-ng-click="getOrderCandidateDetails(orderCandidate.BasketID, $index)">
                                {{ orderCandidate.Total | currency:'R$ ' }}
                            </td>

                            <td class="v-align-middle">
                                <a href="#" data-ng-hide="orderCandidate.recovered" data-ng-click="recover(orderCandidate)" class="btn btn-success btn-sm">Continuar compra</a>
                            </td>

                        </tr>

                        <tr class="row-details" data-ng-if="currentDetails === orderCandidate.BasketID" data-ng-repeat-end>

                            <td colspan="5">

                                <table class="table table-inline details-table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong style="font-size:14px;">Produtos</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-12">

                                                <table class="table table-hover table-condensed table-bordered no-footer">
                                                    <thead>
                                                        <tr>
                                                            <th width="40%">Nome</th>
                                                            <th width="10%">Qtde</th>
                                                            <th width="20%">Valor</th>
                                                            <th width="30%">Ações</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-if="orderCandidate.Products" data-ng-repeat="product in orderCandidate.Products">

                                                            <td>{{ product.Name }}</td>
                                                            <td>{{ product.Quantity | toInt }}</td>
                                                            <td>{{ product.BasketPrice | currency:'R$ ' }}</td>
                                                            <td>
                                                                <button data-pos-loader="product.isAdding" type="button" class="btn btn-default btn-sm" data-ng-click="addToBasket(product)">
																	<i class="fa fa-shopping-cart" aria-hidden="true"></i>
																	Adicionar
																</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot data-ng-show="!orderCandidate.Products || !orderCandidate.Products.length">
                                                        <tr>
                                                            <td colspan="4" data-ng-bind="noResultText"></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </td>

                        </tr>

                    </tbody>

                    <tfoot data-ng-show="!orderCandidates.length">
                        <tr>
                            <td colspan="5" data-ng-bind="noResultText"></td>
                        </tr>
                    </tfoot>

                </table>

            </div>

        </div>

    </div>
</div>