<div class="tab-pane order" data-ng-controller="CustomerOrderController" id="order">

    <div class="panel panel-transparent">

        <form data-ng-submit="search()" role="form" novalidate>

            <div class="row">
                <h5 class="col-md-2 col-xs-12">Pesquisar por:</h5>
            </div>

            <div class="row">

                <div class="col-md-3 col-xs-6">

                    <div class="form-group">

                        <label for="OrderNumber">Pedido</label>
                        <input type="text" id="OrderNumber" name="OrderNumber" class="form-control ng-pristine ng-valid ng-empty ng-touched" data-ng-model="filters.OrderNumber" disable-valid-styling="true" placeholder="Número">

                    </div>

                </div>


                <div class="form-group col-md-4 col-xs-6">
                    <label>Período</label>
                    <div class="input-daterange input-group" id="períod">
                        <input data-pos-datepicker data-options="{ 'orientation': 'bottom' }" type="text" class="form-control" name="StartDate" data-ng-model="filters.StartDate" disable-valid-styling="true">
                        <span class="input-group-addon">até</span>
                        <input data-pos-datepicker data-options="{ 'orientation': 'bottom' }" type="text" class="form-control" name="EndDate" data-ng-model="filters.EndDate" disable-valid-styling="true">
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">

                    <div class="form-group">

                        <label for="OrderStatusID">Status</label>
                        <select class="form-control" id="OrderStatusID" name="OrderStatusID" data-ng-options="item as item.label for item in statusList track by item.id" data-ng-model="filters.OrderStatusID" disable-valid-styling="true">
							<option value="">Todos os status</option>
						</select>

                    </div>

                </div>

                <div class="col-md-2 col-xs-6">

                    <div class="form-group">

                        <label class="invisible" aria-hidden="true">Buscar</label>

                        <button type="submit" class="btn btn-complete btn-sm btn-block">
							<i aria-hidden="true" class="fa fa-search"></i>
							Buscar
						</button>

                    </div>

                </div>

            </div>

        </form>

    </div>

    <div class="row column-seperation">

        <div class="col-md-12">

            <div class="table-responsive">

                <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer">

                    <table class="table table-hover table-condensed table-detailed dataTable no-footer" id="tablePedidos" role="grid">

                        <thead>
                            <tr role="row">
                                <th class="col-sm-5" rowspan="1" colspan="1">Nº pedido / Canal</th>
                                <th class="col-sm-2" rowspan="1" colspan="1">Data / Hora</th>
                                <th class="col-sm-1" rowspan="1" colspan="1">Itens </th>
                                <th class="col-sm-2" rowspan="1" colspan="1">Total</th>
                                <th class="col-sm-3" rowspan="1" colspan="1">Status</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr role="row" class="odd" data-ng-class="{shown: showExpanded(order)}" data-ng-click="expand(order)" data-ng-repeat-start="order in orders">
                                <td class="v-align-middle semi-bold col-sm-5">
                                    <a href="#" data-ng-click="expand(order)" data-ng-bind="order.OrderNumber"></a>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{ order.WebSiteName }}
                                </td>
                                <td class="v-align-middle col-sm-2">
                                    {{ order.CreatedDate | date:'dd/MM/yyyy' }} <span>{{ order.CreatedDate | date:'HH:mm' }}</span>
                                </td>
                                <td class="v-align-middle semi-bold col-sm-1" data-ng-bind="order.ItemsQty"></td>
                                <td class="v-align-middle col-sm-2" data-ng-bind="order.Total | currency:'R$ '"></td>
                                <td class="v-align-middle col-sm-3">
                                    <span data-ng-class="statusClass(order)">
										<i aria-hidden="true"></i> {{ order.Status }}
									</span>
                                </td>
                            </tr>

                            <tr class="row-details" data-ng-repeat-end data-ng-if="showExpanded(order)">
                                <td colspan="5">
                                    <div data-ng-if="!order.Items">
                                        <p>Carregando...</p>
                                    </div>
                                    <table data-ng-if="order.Items" class="table table-inline details-table">
                                        <tbody>
                                            <tr class="">
                                                <td style="vertical-align:top;">
                                                    <div class="row">
                                                        <div class="block-info col-md-5">
                                                            <div class="panel no-border bg-white no-margin">
                                                                <h4>Nome do cliente:</h4>
                                                                <h3 data-ng-bind="order.CustomerFullName"></h3>
                                                            </div>
                                                        </div>
                                                        <div class="block-info col-md-3">
                                                            <div class="panel no-border bg-white no-margin">
                                                                <h4>Orçamento:</h4>
                                                                <h3>-</h3>
                                                            </div>
                                                        </div>
                                                        <div class="block-info col-md-2">
                                                            <div class="panel no-border bg-white no-margin">
                                                                <h4>Frete:</h4>
                                                                <h3 data-ng-bind="order.DeliveryAmount | currency:'R$ '"></h3>
                                                            </div>
                                                        </div>
                                                        <div class="block-info col-md-2">
                                                            <div class="panel no-border bg-white no-margin">
                                                                <h4>Desconto:</h4>
                                                                <h3 data-ng-bind="order.DiscountAmount | currency:'R$ '"></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr style="margin-bottom: 0;margin-top: 10px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5> <strong style="font-size:14px;color:#626262;">Produtos</strong>
                                                    </h5>
                                                    <table class="table table-hover table-condensed table-bordered no-footer">
                                                        <thead>
                                                            <tr>
                                                                <th width="35%">Nome</th>
                                                                <th width="10%">Qtde</th>
                                                                <th width="20%">Valor unitário</th>
                                                                <th width="15%">Desconto</th>
                                                                <th width="20%">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr data-ng-if="!order.Items">
                                                                <td colspan="5">Carregando...</td>
                                                            </tr>
                                                            <tr data-ng-if="order.Items" data-ng-repeat="item in order.Items">
                                                                <td>{{item.ProductName}}-{{item.SkuName}}</td>
                                                                <td>{{item.Quantity}}</td>
                                                                <td>{{item.Price | currency:'R$ '}}</td>
                                                                <td>{{item.DiscountAmount | currency:'R$ '}}</td>
                                                                <td>{{item.Total | currency:'R$ '}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                        </tbody>

                        <tfoot data-ng-if="!orders.length">
                            <tr>
                                <td colspan="5" data-ng-bind="noResultText"></td>
                            </tr>

                        </tfoot>

                    </table>

                </div>

            </div>

        </div>

    </div>
</div>