<div class="tab-pane quote" data-ng-controller="CustomerQuoteController" id="quote">

    <div class="panel panel-transparent">

        <form data-ng-submit="search()" role="form" novalidate>

            <div class="row">
                <h5 class="col-md-2 col-xs-12">Pesquisar por:</h5>
            </div>

            <div class="row">

                <div class="col-md-3 col-xs-6">

                    <div class="form-group">

                        <label for="QuoteNumber">Orçamento</label>
                        <input type="text" id="QuoteNumber" name="QuoteNumber" class="form-control" data-ng-model="filters.QuoteNumber" disable-valid-styling="true" placeholder="Número">

                    </div>

                </div>

                <div class="form-group col-md-4 col-sm-6">
                    <label>Período</label>
                    <div class="input-daterange input-group" id="períod">
                        <input data-pos-datepicker data-options="{ 'orientation': 'bottom' }" type="text" class="form-control" name="QuoteStartDate" data-ng-model="filters.QuoteStartDate" disable-valid-styling="true">
                        <span class="input-group-addon">até</span>
                        <input data-pos-datepicker data-options="{ 'orientation': 'bottom' }" type="text" class="form-control" name="QuoteEndDate" data-ng-model="filters.QuoteEndDate" disable-valid-styling="true">
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">

                    <div class="form-group">

                        <label for="status">Status</label>

                        <select class="form-control" id="status" name="QuoteStatusID" data-ng-model="filters.QuoteStatusID" disable-valid-styling="true">
							<option value="">Todos</option>
							<option value="4">Em aberto</option>
							<option value="5">Comprado</option>
							<option value="6">Expirado</option>
						</select>
                    </div>

                </div>

                <div class="col-md-2 col-xs-6">

                    <div class="form-group">

                        <label class="invisible" aria-hidden="true">Buscar</label>

                        <button type="submit" class="btn btn-complete btn-sm btn-block">
							<i class="fa fa-search" aria-hidden="true"></i>
							Buscar
						</button>

                    </div>

                </div>

            </div>

        </form>

    </div>

    <div class="row column-seperation">

        <div class="col-md-12">

            <div class="table-responsive">

                <table class="table table-hover table-condensed table-detailed" role="grid">

                    <thead>

                        <tr role="row">
                            <th width="33%">Nº orçamento / Cliente</th>
                            <th width="10%">Criação</th>
                            <th width="10%">Expira em</th>
                            <th width="12%">Total</th>
                            <th width="10%">Status</th>
                            <th width="23%">Ações</th>
                        </tr>

                    </thead>

                    <tbody data-ng-show="quotes.length">

                        <tr role="row" data-ng-class="{ 'shown': currentDetails === item.QuoteID }" data-ng-repeat-start="item in quotes">

                            <td class="v-align-middle semi-bold" data-ng-click="getQuoteDetails(item.QuoteID, $index)">

                                <span class="text-complete inline" title="{{ item.QuoteNumber }}">{{ item.QuoteNumber }}</span>

                            </td>

                            <td class="v-align-middle" data-ng-click="getQuoteDetails(item.QuoteID, $index)">{{ item.CreatedDate | date:'dd/MM/yyyy' }}</td>

                            <td class="v-align-middle" data-ng-click="getQuoteDetails(item.QuoteID, $index)">{{ item.ExpiredDate | date:'dd/MM/yyyy' }}</td>

                            <td class="v-align-middle" data-ng-click="getQuoteDetails(item.QuoteID, $index)">{{ item.Total | currency:'R$ ' }}</td>

                            <td class="v-align-middle" data-ng-click="getQuoteDetails(item.QuoteID, $index)">

                                <span data-ng-class="{ 'text-success': item.Status === 'Em aberto', 'text-complete': item.Status === 'Comprado', 'text-danger': item.Status === 'Expirado' }">

									<i class="fa fa-check-circle" aria-hidden="true" data-ng-if="item.Status === 'Em aberto'"></i>
									<i class="fa fa-shopping-cart" aria-hidden="true" data-ng-if="item.Status === 'Comprado'"></i>
									<i class="fa fa-times-circle" aria-hidden="true" data-ng-if="item.Status === 'Expirado'"></i>

									{{ item.Status }}

								</span>

                            </td>

                            <td class="action-group">

                                <div class="btn-group action-buttons-group">

                                    <button type="button" class="btn btn-default" title="Remover" data-ng-click="remove(item.QuoteID, $index)">
										<i class="fa fa-trash-o"></i>
									</button>

                                    <button type="button" class="btn btn-default" title="Duplicar" data-ng-click="duplicate(item.QuoteID)">
										<i class="fa fa-copy"></i>
									</button>

                                    <button type="button" class="btn btn-default" title="Enviar por e-mail" data-ng-click="sendMailModal(item.QuoteID)">
										<i class="fa fa-send"></i>
									</button>

                                    <button type="button" class="btn btn-default" title="Comprar" data-ng-click="checkout(item.QuoteID)" data-ng-show="item.Status === 'Em aberto'">
										<i class="fa fa-shopping-cart"></i>
									</button>

                                </div>

                            </td>

                        </tr>

                        <tr class="row-details" data-ng-if="currentDetails === item.QuoteID" data-ng-repeat-end>

                            <td data-ng-show="item.Details" colspan="6">

                                <div class="table-responsive">

                                    <table class="table table-inline details-table">

                                        <tbody>

                                            <tr>

                                                <td>

                                                    <div class="row">

                                                        <div class="block-info col-md-4 col-xs-4">

                                                            <div class="panel no-border p-10 bg-white no-margin">
                                                                <h4>Criado por:</h4>
                                                                <h3>{{ item.Details.SalesRepresentativeName }}</h3>
                                                            </div>

                                                        </div>

                                                        <div class="block-info col-md-4 col-xs-4">

                                                            <div class="panel no-border p-10 bg-white no-margin">
                                                                <h4>Última alteração:</h4>
                                                                <h3>{{ item.Details.LastModifiedDate | date : 'dd/MM/yyyy' }}</h3>
                                                            </div>

                                                        </div>

                                                        <div class="block-info col-md-4 col-xs-4">

                                                            <div class="panel no-border p-10 bg-white no-margin">
                                                                <h4>Desconto:</h4>
                                                                <h3>
                                                                    <span data-ng-if="item.Details.PercentualDiscountAmount">{{ item.Details.PercentualDiscountAmount }}%</span>
                                                                    <span data-ng-if="!item.Details.PercentualDiscountAmount">-</span>
                                                                </h3>
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <hr>

                                                </td>

                                            </tr>

                                            <tr>
                                                <td>

                                                    <h5>
                                                        <strong style="font-size:14px;color:#626262;">Produtos</strong>
                                                    </h5>

                                                    <table class="table table-hover table-condensed table-bordered">

                                                        <thead>

                                                            <tr>
                                                                <th width="35%">Nome</th>
                                                                <th width="10%">Qtde</th>
                                                                <th width="20%">Valor unitário</th>
                                                                <th width="15%">Desconto</th>
                                                                <th width="20%">Total</th>
                                                            </tr>

                                                        </thead>

                                                        <tbody>

                                                            <tr data-ng-repeat="product in item.Details.Items">
                                                                <td>{{ product.ProductName }}</td>
                                                                <td>{{ product.Quantity }}</td>
                                                                <td>{{ product.Price | currency:'R$ ' }}</td>
                                                                <td>
                                                                    <span data-ng-if="product.DiscountAmount > 0">{{ product.DiscountAmount }}%</span>
                                                                    <span data-ng-if="product.DiscountAmount === 0">-</span>
                                                                </td>
                                                                <td>{{ product.Total | currency:'R$ ' }}</td>
                                                            </tr>

                                                        </tbody>

                                                        <tfoot>

                                                            <tr class="totals-footer">
                                                                <td colspan="4" class="text-right">
                                                                    <h6>Subtotal:</h6>
                                                                </td>
                                                                <td class="bold">{{ item.Details.SubTotal | currency:'R$ ' }}</td>
                                                            </tr>

                                                            <tr class="totals-footer">
                                                                <td colspan="4" class="text-right">
                                                                    <h6>Descontos:</h6>
                                                                </td>
                                                                <td class="bold">- {{ item.Details.DiscountAmount | currency:'R$ ' }}</td>
                                                            </tr>

                                                            <tr class="totals-footer">
                                                                <td colspan="4" class="text-right">
                                                                    <h6>Total:</h6>
                                                                </td>
                                                                <td class="bold">{{ item.Details.Total | currency:'R$ ' }}</td>
                                                            </tr>

                                                        </tfoot>

                                                    </table>

                                                </td>

                                            </tr>

                                        </tbody>

                                    </table>

                                </div>

                            </td>

                            <td data-ng-show="!item.Details" colspan="6">
                                <p>
                                    Carregando...
                                </p>
                            </td>

                        </tr>

                    </tbody>

                    <tfoot data-ng-show="!quotes.length">

                        <tr>
                            <td colspan="6">{{ noResultText }}</td>
                        </tr>

                    </tfoot>

                </table>

            </div>

        </div>

    </div>

</div>