<div class="tab-pane active" id="home">
	<div class="row column-seperation">
		<div class="col-md-12">
			<div class="table-responsive">
				<div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer">
					<div id="tablePedidos_wrapper" class="dataTables_wrapper no-footer">
						<table class="table table-hover dataTable no-footer" id="tablePedidos" role="grid">
							<thead>
								<tr role="row">
									<th class="sorting_disabled" rowspan="1" colspan="1">Nº pedido / Canal</th>
									<th class="sorting_disabled" rowspan="1" colspan="1">Data / Hora</th>
									<th class="sorting_disabled" rowspan="1" colspan="1">Itens</th>
									<th class="sorting_disabled" rowspan="1" colspan="1">Total</th>
									<th class="sorting_disabled" rowspan="1" colspan="1">Status</th>
								</tr>
							</thead>
							<tbody>
								<tr role="row" class="odd" data-ng-repeat="i in [] | range: 7">
									<td class="v-align-middle semi-bold">
										<a href="#">PI-252499-00001</a> <i class="fa fa-map-marker" aria-hidden="true"></i>
										Site (www.loja.com.br)
									</td>
									<td class="v-align-middle">
										11/05/2016
										<span>08:25</span>
									</td>
									<td class="v-align-middle semi-bold">12</td>
									<td class="v-align-middle">R$ 180,00</td>
									<td class="v-align-middle">
										<span> <i class="fa fa-check-circle" aria-hidden="true"></i>
											Entregue
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
