<div class="modal-content">
	<div class="modal-header clearfix text-left">
		<button type="button" data-ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true"> <i class="pg-close fs-14"></i>
		</button>
		<h5 class="semi-bold">Associar cliente</h5>
	</div>
	<div class="modal-body">
		<div id="formSelectClient">
			<div data-ng-show="!showCreateForm" class="form-group">
				<label for="selectClient">Busca de clientes</label>
				<div class="field-loader-wrapper">
					<input data-pos-field-loader="isRequestingFetch" data-ng-keyup="fetchCustomer()" data-ng-model="customerSearchTerm"  type="text" class="form-control search-client" placeholder="Procurar por nome, CPF ou e-mail.">
				</div>
			</div>
			<div data-ng-class="{hidden: !showFetchedCustomers || showCreateForm}" class="form-group clearfix sugestion-box row hidden">
				<p data-ng-show="!fetchedCustomers.length">Nenhum cliente encontrado.</p>
				<div data-ng-show="fetchedCustomers">
					<div data-ng-repeat="customer in fetchedCustomers" class="pull-left col-md-6 col-xs-12">
						<h6 class="label client-item" data-pos-loader="customer.isRequesting" data-ng-click="signIn(customer)">{{customer.CustomerName}}<br><small>{{ customer.DocumentNumber | documentNumber}}</small></h6>
					</div>
				</div>
			</div>
			<div data-ng-show="!showCreateForm" class="form-group add-client-action">
				<div class="row">
					<div class="col-md-12 text-center">- ou -</div>
				</div>
				<button data-ng-click="showCreateForm = true" class="btn btn-default btn-add-client">Cadastrar novo cliente</button>
			</div>
			<div data-ng-show="showCreateForm" class="add-client-form">
				<div data-pos-customer-signup></div>
				<div class="form-group search-client-action text-center">
					<div class="row">
						<div class="col-md-12 text-center">- ou -</div>
					</div>
					<a data-ng-click="showCreateForm = false" class="btn btn-default cancel-add-client">Buscar cliente</a>
				</div>
			</div>
		</div>
	</div>
</div>
