<button type="button" class="btn btn-link" data-ng-click="openSigninModal()" data-ng-if="!isSidebar && customerIsAuthenticated()" data-ng-disabled="basketIsReadOnly">
	<i class="fa fa-refresh"></i>
	Trocar
</button>

<a data-ng-click="openSigninModal()" class="btn btn-default btn-sm pull-left" data-ng-if="!isSidebar && !customerIsAuthenticated()">

	<i class="fa fa-user"></i>
	<span data-ng-if="!customerIsAuthenticated()">Adicionar cliente</span>

</a>

<a data-ui-sref="customer" class="btn btn-gray btn-sm" data-ng-if="!isSidebar && customerIsAuthenticated()">

	<i class="fa fa-user"></i>
	<strong class="name-client">{{ customer.Name }}</strong>
	<i data-ng-click="logoff($event);" class="fa fa-close logoff-customer"></i>

</a>

<!-- SIDEBAR -->
<a href="#" data-ng-click="openSigninModal()" data-ng-if="isSidebar">

	<span class="icon-thumbnail">
		<i class="fa fa-user" aria-hidden="true"></i>
	</span>

	<span class="title">Cliente</span>

</a>
