<div class="tab-pane" id="wishlists" data-ng-controller="CustomerWishlistController">

	<div class="row">

		<div class="col-md-12">

			<div class="table-responsive">

				<table class="table table-hover table-condensed table-detailed no-footer" role="grid">

					<thead>
						<tr role="row">
							<th>Nome</th>
							<th>Data / Hora</th>
							<th>Itens</th>
							<th>Ações</th>
						</tr>
					</thead>

					<tbody>

						<tr role="row" data-ng-class="{ 'shown': currentDetails === item.Hash }" data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-repeat-start="item in wishlist">

							<td class="v-align-middle semi-bold" data-ng-click="getWishlistDetails(item.Hash, $index)">
								{{ item.Name }}
							</td>

							<td class="v-align-middle" data-ng-click="getWishlistDetails(item.Hash, $index)">
								{{ item.CreatedDate | date:'dd/MM/yyyy' }} <span>{{ item.CreatedDate | date:'HH:MM' }}</span>
							</td>

							<td class="v-align-middle semi-bold" data-ng-click="getWishlistDetails(item.Hash, $index)">
								{{ item.ItemsQty }}
							</td>

							<td class="v-align-middle">
								<button type="button" class="btn btn-success btn-sm" data-ng-click="buyBackAll($index)">Comprar produtos</button>
							</td>

						</tr>

						<tr class="row-details" data-ng-if="currentDetails === item.Hash" data-ng-repeat-end>

							<td colspan="4">

								<table class="table table-inline details-table">
									<tbody>
										<tr>
											<td>
												<strong style="font-size:14px;">Produtos</strong>
											</td>
										</tr>
										<tr>
											<td class="col-md-12">

												<table class="table table-hover table-condensed table-bordered no-footer">
													<thead>
														<tr>
															<th width="40%">Nome</th>
															<th width="10%">Qtde</th>
															<th width="20%">Valor</th>
															<th width="30%">Ações</th>
														</tr>
													</thead>
													<tbody>
														<tr data-ng-if="item.Products" data-ng-repeat="product in item.Products">

															<td>{{ product.Line.Name }}</td>
															<td>{{ product.QuantityReceived | toInt }}/{{ product.QuantityDesired | toInt }}</td>
															<td>{{ product.Line.RetailPrice | currency:'R$ ' }}</td>
															<td>
																<button type="button" class="btn btn-default btn-sm" data-ng-disabled="false" data-ng-click="buyBack(product)">
																	<i class="fa fa-shopping-cart" aria-hidden="true"></i>
																	Adicionar
																</button>
															</td>
														</tr>
													</tbody>
													<tfoot data-ng-show="!item.Products || !item.Products.length">
														<tr>
															<td colspan="4" data-ng-bind="noResultText"></td>
														</tr>
													</tfoot>
												</table>

											</td>
										</tr>

									</tbody>
								</table>

							</td>

						</tr>

					</tbody>

					<tfoot data-ng-show="!wishlist || !wishlist.length">
						<tr>
							<td colspan="4" data-ng-bind="noResultText"></td>
						</tr>
					</tfoot>

				</table>

			</div>

		</div>

	</div>

</div>
