<!-- FILTROS/ORDENAÇÃO -->
<div class="filter-order" style="padding: 0px 10px 15px 0px;">

	<div class="dropdown filter-products">
		<a href="#" role="button" aria-expanded="false" class="open-filters">
			<i class="fa fa-filter portlet-icon-settings"></i> Filtros
		</a>
		<ul class="dropdown-filters pull-left" id="filterOptions" role="menu" tabindex="-1">
			<li>
				<div class="scrollable" data-jquery-scrollbar>
					<ul>
						<li data-ng-repeat="facet in facetOptions" data-ng-if="isValidFacet(facet)" data-ng-class="facet.Alias" class="facet-option">
							<div class="form-group">
								<label data-ng-bind="facet.Name"></label>
								<!-- <select class="form-control" data-ng-change="onFacetOptionSelected(facet)" data-ng-class="facet.Alias" data-ng-options="facetItem.Label for facetItem in facet.AvailableOptions track by facetItem.Value" data-ng-model="facet.posSelectedOption">
									<option value="">Selecione</option>
								</select> -->
								<multiselect data-selection-limit="getFacetSelectionLimit(facet)" data-options="facet.AvailableOptions" data-id-prop="Value" data-display-prop="Label" data-show-search="showSearch" data-ng-change="onFacetOptionSelected(facet)" data-ng-class="facet.Alias" data-ng-model="facet.posSelectedOption" data-labels="labels">
								</multiselect>
							</div>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<hr style="margin-bottom: 10px; margin-top: 15px;">
				<button class="btn btn-default btn-xs clean-filter"><small>Limpar</small></button>
				<button class="btn btn-complete btn-xs apply-filter"><small>Aplicar filtro</small></button>
			</li>
		</ul>
	</div>

	<div class="dropdown order-products">
		<a href="#" role="button" aria-expanded="false" class="open-order">
			<i class="fa fa-sort portlet-icon-settings"></i> Ordenação
		</a>
		<div class="form-group dropdown-order">
			<label>Ordenar</label>
			<select class="form-control" data-ng-model="sortSelected" data-ng-change="onSortSelected()">
				<option ng-repeat="option in sortOptions" value="{{option.Alias}}">{{option.Label}}</option>
			</select>
		</div>
	</div>

	<!-- GRID/LISTA -->
	<div class="grid-list hide">
		<a href="#" role="button" aria-expanded="false" class="grid-view">
			<i class="fa fa-th-large"></i>
		</a>
		<a href="#" role="button" aria-expanded="false" class="list-view">
			<i class="fa fa-th-list"></i>
		</a>
	</div>

</div>
