<div data-ng-class="{required: metadata.IsRequired}" class="form-group form-group-default">

	<label data-ng-bind="metadata.DisplayName"></label>

	<input data-ng-if="getElementType() === 'input'" data-ng-model="model[metadata.Name]" data-ng-change="onChange()" name="{{metadata.Name}}" data-ng-required="metadata.IsRequired" type="{{getInputType()}}" class="form-control" />

	<select data-ng-if="getElementType() === 'select'" data-ng-model="model[metadata.Name]" data-ng-change="onChange()" name="{{metadata.Name}}" data-ng-required="metadata.IsRequired" class="form-control" data-ng-options="item as item.Text for item in metadata.Options track by item.Value"  data-disable-valid-styling="true" data-disable-invalid-styling="true">
		<option value="">Selecione</option>
	</select>

	<textarea data-ng-if="getElementType() === 'textarea'" data-ng-model="model[metadata.Name]" data-ng-change="onChange()" name="{{metadata.Name}}" data-ng-required="metadata.IsRequired" type="{{getInputType()}}" class="form-control" ></textarea>

</div>
