<button data-ng-show="currentState !== 'basket' && currentState !== 'checkout'"  data-ui-sref="basket" data-ng-class="btnClass" data-ng-disabled="!basket.Items.length">
	Continuar <small>(Carrinho completo)</small>
</button>

<button data-ng-show="currentState === 'basket'" data-ng-click="goToCheckout()"  data-ng-class="btnClass" data-ng-disabled="!basket.Items.length">
	Finalizar compra <small>(entrega e pagamento)</small>
</button>

<button type="button" data-purchase data-ng-show="currentState === 'checkout'" data-ng-class="btnClass" data-ng-disabled="!enabled" data-ng-click="checkout()" data-pos-loader="$root.buying">
	<i class="fa fa-check-circle" aria-hidden="true"></i>
	Finalizar compra
</button>
