<div class="full-height">

	<h1 class="text-center m-t-80" style="font-size: 60px;">
		<i class="fa fa-check-circle text-success" aria-hidden="true"></i>
		Pedido realizado!
	</h1>

	<div class="row">

		<div class="col-md-6 col-md-offset-3 m-t-20 text-center">

			<h3 class="m-b-20">
				Pedido nº <span>{{ order.number }}</span>
			</h3>

			<p class="p-10 m-b-30 bg-danger" data-ng-if="order.hasCompetenceDiscount">

				Este pedido está aguardando <strong class="text-danger">aprovação da alçada de {{ order.amount }}</strong> solicitada para o seu supervisor.<br>
				Após a aprovação, o pagamento será processado e o pedido preparado para entrega.

			</p>

			<button type="button" class="btn btn-link btn-lg" data-ui-sref="product">
				<i class="fa fa-file-text-o" aria-hidden="true"></i>
				Fazer novo orçamento
			</button>

		</div>

	</div>

</div>
