<ul class="breadcrumb">
	<li data-pos-go-to></li>
</ul>

<div class="panel-group" id="accordion" role="tablist">

	<div class="panel panel-default">

		<div class="panel-heading" role="tab" id="headingType">

			<div class="row">

				<div class="col-md-4">

					<h4 class="panel-title" style="float: left; font-size: 24px; color:#626262 !important; font-weight: normal; text-transform: none;">Tipo de pedido</h4>

				</div>

				<div class="col-md-4">

					<div data-pos-order-type data-disabled="screenLocked" data-allow-change-type="!authorizedCards.length" data-context="checkout"></div>

				</div>

			</div>

		</div>

	</div>

	<div data-ng-show="hasAnyAddresses" class="panel panel-default">

		<div class="panel-heading" id="headingOne">
			<h4 class="panel-title">
				<a role="button" data-ng-click="collapse.select('delivery')" >
					Entrega <i data-ng-show="steps.delivery.isValid" class="fa fa-check-circle checkout-step-completed"></i>
					<small data-ng-show="!steps.delivery.isValid" class="delivery-not-completed">(Preencha as informações de entrega)</small>
				</a>
			</h4>
		</div>

		<div data-uib-collapse="!collapse.isSelected('delivery')" id="collapseOne" class="panel-collapse collapse">

			<div class="panel-body">
				<div class="row">
					<form name="deliveryForm" class="col-md-7">
						<!-- <div class="col-md-7 m-b-0 col-xs-12 form-group"> -->
<div class="row"><div class="col-md-12 m-b-0 col-xs-12 form-group">
							<div data-ng-show="deliveryMethods.pickUpStore.isActive()" data-ng-class="{'radio-success': selectedDeliveryMethod == deliveryMethods.pickUpStore.name}" class="radio">
								<input type="radio" name="selectedDeliveryMethodField" data-ng-model="selectedDeliveryMethod" data-ng-value="deliveryMethods.pickUpStore.name" id="pickUpStore">
								<label for="pickUpStore">
									Retirar no momento da compra
									<span>
										( <i class="fa fa-map-marker" aria-hidden="true"></i>
										{{ currentPointOfSale.Name }} )
									</span>
								</label>
							</div>
</div></div>

<div class="row"><div class="col-md-12 m-b-0 col-xs-12 form-group">
							<div data-ng-show="deliveryMethods.shipToStore.isActive()" data-ng-class="{'radio-success': selectedDeliveryMethod == deliveryMethods.shipToStore.name}" class="radio">
								<input type="radio" name="selectedDeliveryMethodField" data-ng-model="selectedDeliveryMethod" data-ng-value="deliveryMethods.shipToStore.name" id="shipToStore">
								<label for="shipToStore">Retirar em outro local</label>
							</div>
</div></div>

<div class="row"><div class="col-md-12 m-b-0 col-xs-12 form-group">
							<div data-ng-show="selectedDeliveryMethod === deliveryMethods.shipToStore.name" class="location-select p-l-10 col-md-12 delivery-settings-wrapper">
								<div class="col-md-12">
									<select data-ng-show="!selectedPointOfSale" data-ng-options="item as item.label for item in deliveryMethods.shipToStore.pointOfSales track by item.id" data-ng-model="selectedPointOfSale" class="select-location form-control">
										<option value="">Selecione uma loja</option>
									</select>
									<p data-ng-show="selectedPointOfSale" class="small hint-text address-selected-box">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										<span class="store-name" data-ng-bind="selectedPointOfSale.label"></span>
										<span class="right">
											<a href="#" data-ng-click="deliveryMethods.shipToStore.cleanAddressSelection()" class="change-location">Alterar local</a>
										</span>
									</p>

									<div data-ng-show="selectedPointOfSale" class="pickup-by-other checkbox check-success">
										<input id="pickup-by-other-checker" type="checkbox" data-ng-disabled="deliveryMethods.shipToStore.hasError" data-ng-model="deliveryMethods.shipToStore.pickupByOther" data-ng-value="true">
										<label for="pickup-by-other-checker">
											Os produtos serão retirados por outra pessoa
										</label>
										<div data-ng-show="deliveryMethods.shipToStore.pickupByOther" class="contact-box">
											<label>
												Nome
												<input data-ng-model="deliveryMethods.shipToStore.pickupContactData.name" type="text" />
											</label>
											<label>
												Documento
												<input data-ng-model="deliveryMethods.shipToStore.pickupContactData.documentNumber" placeholder="RG ou CPF" type="tel" />
											</label>

										</div>
									</div>

									<p data-ng-if="deliveryMethods.shipToStore.hasError" class="error-validate" style="color:#A51C19;">Não é possível retirar em {{selectedPointOfSale.data.Name}}.</p>
								</div>
							</div>
</div></div>

<!-- <div class="row"><div class="col-md-12 m-b-0 col-xs-12 form-group">
</div></div> -->

<div class="row"><div class="col-md-12 m-b-0 col-xs-12 form-group">
							<div data-ng-show="deliveryMethods.shipping.isActive()" data-ng-class="{'radio-success': selectedDeliveryMethod == deliveryMethods.shipping.name}" class="radio">
								<input type="radio" name="selectedDeliveryMethodField" data-ng-model="selectedDeliveryMethod" data-ng-value="deliveryMethods.shipping.name" id="shipping">
								<label for="shipping">Enviar para endereço</label>
							</div>
							<div data-ng-show="selectedDeliveryMethod === deliveryMethods.shipping.name" class="address-select delivery-settings-wrapper p-l-10 col-md-12">
								<div class="col-md-12 known-location">
									<select data-ng-show="!selectedAddress" class="form-control" data-ng-options="item as item.label for item in addressList track by item.id" data-ng-model="selectedAddress">
										<option value="">Selecione um endereço</option>
									</select>
									<p data-ng-show="selectedAddress" class="small hint-text address-selected-box">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										Endereço:
										<!-- <span class="right">
											<a href="#" data-ng-click="deliveryMethods.shipping.cleanAddressSelection()" class="change-address">Alterar endereço</a>
										</span> -->
										<span class="right">
											<a href="#" class="edit-address" data-ng-click="openEditAddressForm(selectedAddress)">
												<i class="fa fa-edit" style="margin-right: 5px;"></i>
												Editar
											</a>
										</span>
										<span class="address-line" data-ng-bind="selectedAddress.label"></span>
									</p>
									<a href="#" data-ng-click="openNewAddressForm()" class="new-address" style="display:block;float:left;">Cadastrar endereço</a>
									<a href="#" data-ng-show="selectedAddress" data-ng-click="deliveryMethods.shipping.cleanAddressSelection()" class="change-address-item" style="float:right;"><i aria-hidden="true" class="fa fa-refresh"></i> Alterar</a>
								</div>
								<div class="clearfix"></div>
							</div>
</div></div>

<div class="row"><div class="col-md-12 m-b-0 col-xs-12 form-group">
							<div class="hide radio">
								<input disabled name="selectedDeliveryMethodField" type="radio" value="no" name="optionyes">
								<label disabled for="no">Escolher formas de entrega para cada produto</label>
							</div>
</div></div>
						<!-- </div> -->
					</form>

					<div data-ng-show="(selectedDeliveryMethod === deliveryMethods.shipping.name) && selectedAddress" class="col-md-5 delivery-options-list col-xs-12">
						<strong>Selecione o frete:</strong>
						<p data-ng-show="deliveryMethods.shipping.isRequestingDeliveryOptions">Carregando...</p>
						<p data-ng-show="!deliveryOptionsList.length && !deliveryMethods.shipping.isRequestingDeliveryOptions">Nenhuma opção de frete encontrada</p>
						<table data-ng-show="deliveryOptionsList.length && !deliveryMethods.shipping.isRequestingDeliveryOptions">

							<tbody>

								<tr data-ng-repeat="deliveryOption in deliveryOptionsList">
									<td class="radio radio-success" data-ng-if="!deliveryOption.PointOfSales || !deliveryOption.PointOfSales.length || deliveryOption.DeliveryMethodType != 'P'">
										<input type="radio" name="frete" data-ng-change="deliveryMethods.shipping.onChangeDeliveryOption(deliveryOption);" data-ng-model="selectedDeliveryOption" data-ng-value="deliveryOption.DeliveryOptionID" id="{{deliveryOption.Alias}}">
										<label for="{{deliveryOption.Alias}}">
											<img onerror="$(this).remove()" height="30" data-ng-src="{{ '/Custom/Content/Themes/Shared/Images/Delivery/' + deliveryOption.Alias + '.jpg' | cdnify: 'Delivery' }}">
											<span data-ng-bind="deliveryOption.Name"></span>
										</label>
									</td>
									<td class="" data-ng-if="!deliveryOption.PointOfSales || !deliveryOption.PointOfSales.length">
										<div class="method">
											<strong data-ng-bind="deliveryOption.Amount | currency:'R$ '"></strong>
											<div class="estimated" data-ng-bind="deliveryOption.EstimatedTime"></div>
										</div>
									</td>
								</tr>

							</tbody>

						</table>
					</div>

				</div>

				<div data-ng-if="false" class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-delivery">
								<thead>
									<tr>
										<th class="quantity">Qtde</th>
										<th class="product">Produtos</th>
										<th class="define-delivery">
											Forma de entrega <i class="fa fa-plus-square open-delivery-options"></i> <i class="fa fa-check change-ok"></i>
											<span class="change-ok">Formas de entrega alteradas</span>
											<div class="multiple-delivery-options row">

												<div class="col-md-8">
													<select class="form-control" id="changeDelivery">
														<option value="1">Retirar no momento da compra (Loja Iguatemi )</option>
														<option value="2">Retirar em outro local</option>
														<option value="3">Enviar para meu endereço</option>
													</select>
												</div>

												<div class="col-md-4">
													<button class="btn btn-success apply-to-all-location">Aplicar a todos</button>
												</div>

											</div>

											<div class="row location-select">

												<div class="col-md-12">

													<select name="" id="selectLocation" class="form-control">
														<option value="Loja Iguatemi">Loja Iguatemi</option>
														<option value="Loja Bourbon Assis Brasil">Loja Bourbon Assis Brasil</option>
														<option value="Loja Praia de Belas">Loja Praia de Belas</option>
													</select>

												</div>

											</div>

											<div class="row address-select">

												<div class="col-md-12 known-location">

													<select name="" id="selectLocation" class="form-control">
														<option value="Endereço 1">Endereço 1</option>
														<option value="Endereço 2">Endereço 2</option>
														<option value="Endereço 3">Endereço 3</option>
													</select>

													<a href="" class="other-address known-location">Outro endereço</a>

												</div>

												<div class="col-md-12 unknown-location">

													<div id="otherLocation" class="form-group">
														<input type="text" class="form-control">
														<a href="" class="known-address">Endereço cadastrado</a>
													</div>

												</div>

											</div>

										</th>

									</tr>

								</thead>

								<tbody id="productsAdded">
									<tr id="carrinho-6" class="basket-item">
										<td class="">
											<p class="text-black">1</p>
										</td>
										<td class="">
											<p class="text-black">BCAA 1000 - Optimum Nutrition</p>
											<p class="small hint-text">Baunilha</p>
										</td>
										<!-- Inicial -->
										<td class="initial-setting">
											<select class="form-control">
												<option selected="selected">Retirar no momento da compra (Loja Iguatemi )</option>
												<option>Retirar em outro local</option>
												<option>Enviar para meu endereço</option>
											</select>
										</td>

										<!-- Todos no momento da compra -->
										<td class="on-location-setting">
											<select class="form-control">
												<option selected="selected">Retirar no momento da compra (Loja Iguatemi )</option>
												<option>Retirar em outro local</option>
												<option>Enviar para meu endereço</option>
											</select>
										</td>

										<!-- Todos com endereço -->
										<td class="address-setting">
											<select class="form-control">
												<option>Retirar no momento da compra (Loja Iguatemi )</option>
												<option selected="selected">Retirar em outro local</option>
												<option>Enviar para meu endereço</option>
											</select>
											<p class="small hint-text">
												<i class="fa fa-map-marker" aria-hidden="true"></i>
												Endereço:
												<span>
													<a href="">Alterar endereço</a>
												</span>
												<span>Av. Ipiranga, 1002/502. CEP 91123-678, Porto Alegr...</span>
											</p>
										</td>

										<!-- Todos com endereço -->
										<td class="location-setting">
											<select class="form-control">
												<option>Retirar no momento da compra (Loja Iguatemi )</option>
												<option selected="selected">Retirar em outro local</option>
												<option>Enviar para meu endereço</option>
											</select>
											<p class="small hint-text">
												<i class="fa fa-map-marker" aria-hidden="true"></i>
												Retirada: Loja Bourbon Shopping
												<span>
													<a href="">Alterar local</a>
												</span>
											</p>
										</td>
									</tr>
									<tr id="carrinho-7" class="basket-item">
										<td class="">
											<p class="text-black">1</p>
										</td>
										<td class="">
											<p class="text-black">BCAA 1000 - Optimum Nutrition</p>
											<p class="small hint-text">Chocolate</p>
											<p class="small hint-text">Em estoque: Loja Bourbon Shopping</p>
										</td>
										<td class="initial-setting">
											<select class="form-control">
												<option>Retirar no momento da compra (Loja Iguatemi )</option>
												<option selected="selected">Retirar em outro local</option>
												<option>Enviar para meu endereço</option>
											</select>
											<p class="small hint-text">
												<i class="fa fa-map-marker" aria-hidden="true"></i>
												Retirada: Loja Bourbon Shopping
												<span class="change-local">
													<a href="">Alterar local</a>
													<span></span>
												</span>
											</p>
										</td>

										<!-- Todos no momento da compra -->
										<td class="on-location-setting">
											<select class="form-control">
												<option selected="selected">Retirar no momento da compra (Loja Iguatemi )</option>
												<option>Retirar em outro local</option>
												<option>Enviar para meu endereço</option>
											</select>
										</td>

										<!-- Todos com endereço -->
										<td class="address-setting">
											<select class="form-control">
												<option>Retirar no momento da compra (Loja Iguatemi )</option>
												<option>Retirar em outro local</option>
												<option selected="selected">Enviar para meu endereço</option>
											</select>
											<p class="small hint-text">
												<i class="fa fa-map-marker" aria-hidden="true"></i>
												Endereço:
												<span>
													<a href="">Alterar endereço</a>
												</span>
												<span>Av. Ipiranga, 1002/502. CEP 91123-678, Porto Alegr...</span>
											</p>
										</td>

										<!-- Todos com endereço -->
										<td class="location-setting">
											<select class="form-control">
												<option>Retirar no momento da compra (Loja Iguatemi )</option>
												<option selected="selected">Retirar em outro local</option>
												<option>Enviar para meu endereço</option>
											</select>
											<p class="small hint-text">
												<i class="fa fa-map-marker" aria-hidden="true"></i>
												Retirada: Loja Bourbon Shopping
												<span>
													<a href="">Alterar local</a>
												</span>
											</p>
										</td>
									</tr>
									<tr id="carrinho-7" class="basket-item">
										<td class="">
											<p class="text-black">1</p>
										</td>
										<td class="">
											<p class="text-black">BCAA 1000 - Optimum Nutrition</p>
											<p class="small hint-text">Chocolate</p>
											<p class="small hint-text" style="
											">Em estoque: Loja Barra Shopping</p>
										</td>
										<td class="initial-setting">
											<select class="form-control">
												<option>Retirar no momento da compra (Loja Iguatemi )</option>
												<option>Retirar em outro local</option>
												<option selected="selected">Enviar para meu endereço</option>
											</select>
											<p class="small hint-text">
												<i class="fa fa-map-marker" aria-hidden="true"></i>
												Endereço:
												<span class="change-local">
													<a href="">Alterar endereço</a>
												</span>
												<span>Av. Ipiranga, 1002/502. CEP 91123-678, Porto Alegr...</span>
											</p>
										</td>

										<!-- Todos no momento da compra -->
										<td class="on-location-setting">
											<select class="form-control">
												<option selected="selected">Retirar no momento da compra (Loja Iguatemi )</option>
												<option>Retirar em outro local</option>
												<option>Enviar para meu endereço</option>
											</select>
										</td>

										<!-- Todos com endereço -->
										<td class="address-setting">
											<select class="form-control">
												<option>Retirar no momento da compra (Loja Iguatemi )</option>
												<option>Retirar em outro local</option>
												<option selected="selected">Enviar para meu endereço</option>
											</select>
											<p class="small hint-text">
												<i class="fa fa-map-marker" aria-hidden="true"></i>
												Endereço:
												<span>
													<a href="">Alterar endereço</a>
												</span>
												<span>Av. Ipiranga, 1002/502. CEP 91123-678, Porto Alegr...</span>
											</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<br><br>
				<div data-ng-show="orderType.RequirePayment" class="row">
					<div class="col-md-6 col-md-offset-3">
						<a role="button" data-ng-click="tryGoToPayment();" class="btn btn-complete btn-block go-to-payment collapsed">Ir para <b>Pagamento</b></a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div data-ng-show="hasAnyAddresses === false && !screenLocked" class="well no-address clearfix" style="padding: 8px 24px; margin-top: 10px; margin-bottom: 10px; background-color: rgb(255, 221, 221);">
		<div class="row">
			<div class="col-md-8 col-sm-12">
				<h5 style="font-family: 'Montserrat'; color: #666; font-size: 16px;margin-top: 0; margin-bottom: 0;">Este cliente não possui um endereço cadastrado.</h5>
				<p style="margin-top: 0; margin-bottom:7px; line-height: 1em;">Cadastre um endereço para selecionar as formas de entrega.</p>
			</div>
			<div class="col-md-4 col-sm-12">
				<button class="btn betn-default" data-ng-click="openNewAddressForm(true)" style="float: right; margin-top:5px; color: #3a8fc8;">Cadastrar endereço</button>
			</div>
		</div>
	</div>

	<div data-ng-show="orderType.RequirePayment" data-ng-class="{locked: screenLocked}" class="panel panel-default">

		<div class="panel-heading" id="headingTwo">

			<h4 class="panel-title">
				<a class="collapsed" role="button" data-ng-click="collapse.select('payment')">
					Pagamento <i data-ng-show="steps.payment.isValid" class="fa fa-check-circle checkout-step-completed"></i>
					<small data-ng-if="allowMultiplePayments && paymentProviderMinimumAmount && collapse.selected === 'payment'" class="delivery-not-completed">(Valor mínimo de {{paymentProviderMinimumAmount | currency:'R$ '}} por forma de pagamento)</small>
				</a>
			</h4>

		</div>

		<div data-uib-collapse="!collapse.isSelected('payment')" id="collapseTwo" class="panel-collapse collapse relative">

			<div data-ng-if="allowMultiplePayments" class="panel-body checkout-summary">
				<div class="row">
					<div class="col-xs-6">
						<h4 style="padding-bottom: 10px;margin-top: 0;font-size: 16px;text-align: left;">
							Total do pedido:
							<span data-ng-bind="basketData.Total | currency:'R$ '" style="width: 150px;display: inline-block;font-weight: 700;"></span>
						</h4>
					</div>
					<div class="col-xs-6">
						<h4 style="padding-bottom: 10px;margin-top: 0;font-size: 16px;text-align: right;">
							Saldo a pagar:
							<span data-ng-bind="notPaidAmount() | currency:'R$ '" style="display: inline-block;font-weight: 700;"></span>
						</h4>
					</div>
				</div>
			</div>

			<div data-pos-checkout-payment-group data-checkout-data="checkoutData"></div>

		</div>

	</div>

	<div data-ng-show="!orderType.RequirePayment" data-ng-class="{locked: screenLocked}" class="well no-payment-order m-t-10">
		<h5>Este tipo de pedido não prevê pagamento através do PDV.</h5>
	</div>

</div>
