<span class="clearfix payment-wrapper" data-ng-click="tryExpand($event);" data-ng-class="{extended: isExtendedGroup, unavailable: optionUnavailable}">
	<div data-ng-show="multiSelectionAllowed || multipleCards" class="pull-left">
		<!-- MULTIPLOS PAGAMENTOS -->
		<h4 class="payment-info no-margin">
			<i data-ng-class="groupConfig.icon"></i>
			{{ groupConfig.title }} <span data-ng-if="multipleCards">{{index + 2}}</span>
			<span data-ng-if="authorization" class="credit-card-filled-number">
				(**** {{ authorization.Number | limitTo:-4 }})
			</span>
			<i data-ng-if="authorization" class="fa fa-check-circle already-filled" aria-hidden="true"></i>
		</h4>
		<span data-ng-if="isExternal && !optionUnavailable" class="external-amount">Disponível: <strong data-ng-bind="payment.externalAmount | currency:'R$ '"></strong></span>
		<span data-ng-if="optionUnavailable">Opção indisponível no momento</span>
	</div>
	<div data-ng-show="!multiSelectionAllowed && !multipleCards" class="input-group transparent">
		<!-- PAGAMENTO ÚNICO -->
		<div class="radio radio-success">
			<input data-ng-disabled="optionDisabled" data-ng-if="!multipleCards" data-payment-option-selector data-ng-model="selectedOption" data-ng-click="tryChangeOption($event);" type="radio" name="paymentOption" data-ng-value="paymentGroup.Alias.toLowerCase()" id="{{getLabelFor()}}">
			<label for="{{ getLabelFor() }}">
				<h4 class="payment-info no-margin">
					<i data-ng-class="groupConfig.icon"></i>
					{{ groupConfig.title }} <span data-ng-if="multipleCards">{{index + 2}}</span>
					<span data-ng-if="authorization" class="credit-card-filled-number">
						(**** {{ authorization.Number | limitTo:-4 }})
					</span>
					<i data-ng-if="authorization" class="fa fa-check-circle already-filled" aria-hidden="true"></i>
				</h4>

			</label>
		</div>

	</div>
	<span data-ng-if="!multiSelectionAllowed && isExternal && !optionUnavailable" class="external-amount-only">Disponível: <strong data-ng-bind="payment.externalAmount | currency:'R$ '"></strong></span>
	<span data-ng-if="!multiSelectionAllowed && optionUnavailable" class="unavailable-msg">Opção indisponível no momento</span>
	<a data-ng-if="!isExternal && multiSelectionAllowed && !isExtendedGroup" data-ng-click="completeAmount();" class="complete-amount" href="#">Completar valor</a>
	<div data-ng-if="multiSelectionAllowed && !isExtendedGroup && !optionUnavailable" class="input-group transparent amount validate" data-ng-class="{'has-error': amountNotValid}">
		<span class="input-group-addon">R$</span>
		<input data-ng-disabled="optionDisabled" data-pos-mask-currency data-ng-model="optionAmount" type="text" placeholder="0,00" class="form-control option-amount">
	</div>
	<div data-ng-if="multiSelectionAllowed && isExtendedGroup" class="pull-right">
		<i data-ng-show="!isExpanded" class="fa fa-chevron-down" data-ng-if="isExtendedGroup" aria-hidden="true" style="font-size: 16px;position: relative;top: 8px;"></i>
		<i data-ng-show="isExpanded" class="fa fa-chevron-up" data-ng-if="isExtendedGroup" aria-hidden="true" style="font-size: 16px;position: relative;top: 8px;"></i>
	</div>
	<div data-ng-if="isExpanded && isCreditCard && !multipleCards && !authorization" class="pull-right clean-card">
		<a data-ng-click="cleanCard()" href="#" class="remove-card">Limpar cartão</a>
	</div>
	<div data-ng-if="multipleCards && !authorization" class="pull-right">
		<a data-ng-click="removeItem(index)" href="#" class="remove-card">Remover cartão</a>
	</div>
</span>
<div class="payment-extended-wrapper" data-ng-include="extendedIncludePath" data-ng-if="isExtendedGroup">carregando...</div>
