<div class="add-card-form relative">

	<div class="bg-master-lighter padding-30 b-rad-lg">

		<div class="row">

			<div class="col-md-4">
				<h4 class="pull-left no-margin">Selecione o cartão</h4>
			</div>

			<!-- <div class="col-md-2 col-sm-2 col-xs-4 text-right p-r-0">
				<img data-ng-if="payment.creditcardOption" data-ng-src="{{ '/Custom/Content/Themes/Shared/Images/Payment/' + payment.creditcardOption.ImagePath | cdnify:'Payment' }}" width="50" height="35" style="margin-left: -10px;">
			</div> -->

			<div class="col-md-4 form-group required" data-ng-if="getOfflineProperty('PaymentAcquirer')" >
				<select data-ng-change="onPaymentOfflineDataChange()" data-ng-model="customProperties[getOfflinePropertyInputModel('PaymentAcquirer')]" class="form-control" name="PaymentAcquirer" data-ng-options="opt as opt.Text for opt in getOfflineProperty('PaymentAcquirer').Options track by opt.Value" required></select>
			</div>

			<div class="col-md-4 form-group required" data-ng-if="getOfflineProperty('Brand')">
				<select data-ng-change="onPaymentOfflineDataChange()" data-ng-model="customProperties[getOfflinePropertyInputModel('Brand')]" class="form-control" data-credit-card-brand-selector name="creditcardOption" data-ng-options="item as item.Text for item in getOfflineProperty('Brand').Options track by item.Value"  data-disable-valid-styling="true" data-disable-invalid-styling="true" required></select>
			</div>

		</div>

		<div class="row m-t-25">

			<div class="col-md-6 col-sm-6 col-xs-12 pull-left">

				<div class="form-group form-group-default required">

					<label>Valor da compra</label>

					<input data-ng-disabled="!isAuthorizable()" type="text" class="form-control" name="cardValue" data-ng-change="onPaymentOfflineDataChange()" data-ng-model="customProperties[getOfflinePropertyInputModel('Value')]" pos-mask-currency required ng-model-options="{ updateOn: 'blur'}" placeholder="0,00" data-ng-class="{'has-error': amountNotValid}" />

				</div>

				<a data-ng-click="completeAmount();" data-ng-show="isAuthorizable()" href="#" style="position: relative; bottom: 5px;">Completar valor</a>

			</div>

			<div data-ng-if="getOfflineProperty('Installments')" class="col-md-6 col-sm-6 col-xs-12">

				<div class="form-group form-group-default required">

					<label>Parcelamento</label>

					<select data-ng-change="onPaymentOfflineDataChange()" data-ng-model="customProperties[getOfflinePropertyInputModel('Installments')]" class="form-control" name="cardInstallmentTimes" data-ng-options="opt as opt.Text for opt in getOfflineProperty('Installments').Options track by opt.Value" required></select>

				</div>

			</div>

		</div>

		<div class="row m-t-25">

			<div data-ng-if="getOfflineProperty('NSU')" class="col-md-4 col-sm-4 col-xs-12">

				<div class="form-group form-group-default required">

					<label>NSU</label>
					<input data-ng-model="customProperties[getOfflinePropertyInputModel('NSU')]" data-ng-change="onPaymentOfflineDataChange()" type="text" class="form-control" required="">

				</div>

			</div>

			<div data-ng-if="getOfflineProperty('Authorization')" class="col-md-4 col-sm-4 col-xs-12">

				<div class="form-group form-group-default required">

					<label>Autorização</label>
					<input data-ng-model="customProperties[getOfflinePropertyInputModel('Authorization')]" data-ng-change="onPaymentOfflineDataChange()" type="text" class="form-control" placeholder="" required="">

				</div>

			</div>

			<div data-ng-if="getOfflineProperty('Date')" class="col-md-4 col-sm-4 col-xs-12">

				<div class="form-group form-group-default required">

					<label>Data</label>

					<div id="datepicker-component-2" class="input-group date">
						<input data-pos-datepicker data-ng-change="onPaymentOfflineDataChange()" data-ng-model="customProperties[getOfflinePropertyInputModel('Date')]" data-ng-value="currentDate | date:'dd/MM/yyyy'" type="text" class="form-control" data-options="{ 'orientation': 'bottom' }">
					</div>

				</div>

			</div>

		</div>

	</div>

</div>
