<div class="add-card-form relative">

	<div class="bg-master-lighter padding-30 b-rad-lg">

		<div class="row">

			<div class="col-md-4 col-sm-5 col-xs-12">
				<h4 class="pull-left no-margin">Tipo</h4>
			</div>

			<div class="col-md-2 col-sm-2 col-xs-4 text-right p-r-0">

			</div>

			<div data-ng-if="getOfflineProperty('FinancingType')" class="col-md-6 col-sm-5 col-xs-8">

				<div class="form-group" data-ng-class="{ 'col-md-6': customProperties[getOfflinePropertyInputModel('FinancingType')].Text === 'Banco' }">

					<select data-ng-change="onPaymentOfflineDataChange()" data-ng-model="customProperties[getOfflinePropertyInputModel('FinancingType')]" class="form-control" name="FinancingType" data-ng-options="item as item.Text for item in getOfflineProperty('FinancingType').Options track by item.Value" data-disable-valid-styling="true" data-disable-invalid-styling="true" required></select>

				</div>

				<div class="form-group col-md-6" data-ng-if="customProperties[getOfflinePropertyInputModel('FinancingType')].Text === 'Banco'">

					<select data-ng-model="customProperties[getOfflinePropertyInputModel('PaymentFinanceBankRegistrationNumber')]" class="form-control" name="PaymentFinanceBankRegistrationNumber" data-ng-options="item as item.Text for item in getOfflineProperty('PaymentFinanceBankRegistrationNumber').Options track by item.Value" data-disable-valid-styling="true" data-disable-invalid-styling="true" required></select>

				</div>

			</div>

		</div>

		<div class="row m-t-25">

			<div class="col-md-6 col-sm-6 col-xs-12 pull-left">

				<div class="form-group form-group-default required">

					<label>Valor da compra</label>

					<input data-ng-disabled="!isAuthorizable()" type="text" class="form-control" name="cardValue" data-ng-change="onPaymentOfflineDataChange()" data-ng-model="customProperties[getOfflinePropertyInputModel('Value')]" pos-mask-currency required ng-model-options="{ updateOn: 'blur'}" placeholder="0,00" data-ng-class="{'has-error': amountNotValid}" />

				</div>

				<a data-ng-click="completeAmount();" data-ng-show="isAuthorizable()" href="#" style="position: relative; bottom: 5px;">Completar valor</a>

			</div>

			<div data-ng-if="getOfflineProperty('FinanceInstallments')" class="col-md-6 col-sm-6 col-xs-12">

				<div class="form-group form-group-default required">

					<label>Parcelamento</label>

					<select data-ng-change="onPaymentOfflineDataChange()" data-ng-model="customProperties[getOfflinePropertyInputModel('FinanceInstallments')]" class="form-control" name="cardInstallmentTimes" data-ng-options="opt as opt.Text for opt in getOfflineProperty('FinanceInstallments').Options track by opt.Value" required></select>

				</div>

			</div>

		</div>

		<div class="row m-t-25">

			<div data-ng-if="getOfflineProperty('Date')" class="col-md-6 col-sm-6 col-xs-12">
				<div class="form-group form-group-default required">
					<label>Data</label>
					<div id="datepicker-component-2" class="input-group date">
						<input data-pos-datepicker data-ng-change="onPaymentOfflineDataChange()" data-ng-model="customProperties[getOfflinePropertyInputModel('Date')]" data-ng-value="currentDate | date:'dd/MM/yyyy'" type="text" class="form-control" data-options="{ 'orientation': 'bottom' }">
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
