<div class="add-card-form relative">

	<div data-pos-area-loader="authorizationProcesses"></div>

	<form role="form" name="cardForm" data-ng-submit="authorizeCard(payment)" data-ng-if="!authorization">

		<div class="bg-master-lighter padding-30 b-rad-lg">

			<div class="row">

				<div class="col-md-6 col-sm-5 col-xs-12">
					<h4 class="pull-left no-margin">Selecione o cartão</h4>
				</div>

				<div class="col-md-2 col-sm-2 col-xs-4 text-right p-r-0">

					<img data-ng-if="payment.creditcardOption" data-ng-src="{{ '/Custom/Content/Themes/Shared/Images/Payment/' + payment.creditcardOption.ImagePath | cdnify:'Payment' }}" alt="{{ payment.creditcardOption.Description }}" width="50" height="35" style="margin-left: -10px;">

				</div>

				<div class="col-md-4 col-sm-5 col-xs-8">

					<div class="form-group required">

						<select class="form-control" data-credit-card-brand-selector name="creditcardOption" data-ng-model="payment.creditcardOption" data-ng-options="item as item.Title for item in paymentGroup.Items track by item.PaymentMethodID" data-ng-change="updateCardBrand(payment.creditcardOption)" data-disable-valid-styling="true" data-disable-invalid-styling="true" required></select>

					</div>

				</div>

			</div>

			<div class="row m-t-25">

				<div class="col-md-6 col-sm-6 col-xs-12 pull-left">

					<div class="form-group form-group-default required">

						<label>Valor da compra</label>

						<input data-ng-disabled="!isAuthorizable()" type="text" class="form-control" name="cardValue" data-ng-model="payment.cardValue" data-ng-change="onPaymentCreditCardAmountChange()" pos-mask-currency required ng-model-options="{ updateOn: 'blur'}" placeholder="0,00" />

					</div>

					<a data-ng-click="completeAmount();" data-ng-show="isAuthorizable()" href="#" style="position: relative; bottom: 5px;">Completar valor</a>

				</div>

				<div class="col-md-6 col-sm-6 col-xs-12">

					<div class="form-group form-group-default required">

						<label>Parcelamento</label>

						<select class="form-control" name="cardInstallmentTimes" data-ng-disabled="!isValidInstallments()" data-ng-change="onPaymentDataChange()" data-ng-model="payment.cardInstallmentTimes" data-ng-options="item as item.value for item in installmentsList track by item.id" required></select>

					</div>

				</div>

			</div>

			<div class="row m-t-15">

				<div class="col-md-4">
					<h5 class="m-t-0 m-b-15">Dados do cartão</h5>
				</div>

				<div data-ng-show="canCollect" class="col-md-8">

					<div class="required">

						<div class="checkbox m-t-5">

							<input type="checkbox" name="collectDataByEmail" id="collectDataByEmail{{ index !== undefined ? index : 'base' }}" data-ng-change="onCollectDataChange(collectDataByEmail)" data-ng-model="collectDataByEmail" data-ng-value="true">
							<label for="collectDataByEmail{{ index !== undefined ? index : 'base' }}">Coletar dados por e-mail</label>

							<button type="button" class="btn btn-link btn-sm" data-ng-show="collectDataByEmail" data-ng-click="setCustomerEmail()">
								<i class="fa fa-user m-r-5"></i>
								Usar e-mail do cliente
							</button>

						</div>

					</div>

				</div>

			</div>

			<div class="collect-data" data-ng-if="collectDataByEmail">

				<div class="row">

					<div class="col-md-12">

						<div class="form-group form-group-default">
							<label>E-mail para coleta</label>
							<input type="email" data-ng-change="onPaymentDataChange()" class="form-control" name="email" placeholder="E-mail" data-ng-model="payment.email" required>
						</div>

					</div>

				</div>

			</div>

			<div class="insert-data" data-ng-if="!collectDataByEmail">

				<div class="row">

					<div class="col-md-12">

						<div class="form-group form-group-default required">
							<label>Nome no cartão</label>
							<input type="text" data-ng-change="onPaymentDataChange()" name="cardHolder" class="form-control" placeholder="Nome no cartão" data-ng-model="payment.cardHolder" required>
						</div>

					</div>

				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group form-group-default required">
							<label>Número do cartão</label>
							<input type="text" data-ng-change="onPaymentCreditCardBrandChange()" name="cardNumber" class="form-control" data-mask-creditcard data-only-number placeholder="0000 0000 0000 0000" data-ng-model="payment.cardNumber" maxlength="25" required>
						</div>
					</div>
				</div>

				<div class="row error-validate pull-left" data-ng-if="invalidAuthorization">

					<div class="col-md-12">

						<div class="alert alert-danger" role="alert">
							<button class="close" data-dismiss="alert" data-ng-click="invalidAuthorization = false"></button>
							<strong>Erro ao autorizar:</strong> Verifique o saldo disponível em seu cartão.
						</div>

					</div>

				</div>

				<div class="row">

					<div class="col-md-6 col-xs-9">

						<div class="form-group">

							<label>Validade</label>

							<div class="row">

								<div class="col-md-8">

									<select class="form-control pull-left" data-ng-change="onPaymentDataChange()" name="cardExpirationDateMonth" data-ng-options="item as item.value for item in monthsList track by item.id" data-disable-valid-styling="true" data-disable-invalid-styling="true" data-ng-model="payment.cardExpirationDateMonth" required></select>

								</div>

								<div class="col-md-4">

									<select class="form-control pull-left" data-ng-change="onPaymentDataChange()" name="cardExpirationDateYear" data-ng-options="item as item.value for item in yearsList track by item.id" data-disable-valid-styling="true" data-disable-invalid-styling="true" data-ng-model="payment.cardExpirationDateYear" required></select>

								</div>

							</div>

						</div>

					</div>

					<div class="col-md-3 col-xs-3 col-md-offset-3 m-b-15">

						<div class="form-group required">
							<label>Código verificador</label>
							<input type="text" data-ng-change="onPaymentDataChange()" class="form-control" name="cardSecurityCode" length="4" maxlength="4" placeholder="000" data-only-number data-disable-valid-styling="true" data-disable-invalid-styling="true" data-ng-model="payment.cardSecurityCode" required>
						</div>

					</div>

					<div data-ng-if="isAuthorizable()" class="row text-center">

						<hr class="m-b-15" style="width: 100%; display: block; border-color: #c1c1c1;">

						<button type="submit" class="btn btn-success btn-cons verify-card pull-right col-md-3 col-xs-12" data-ng-disabled="cardForm.$invalid">
							Autorizar cartão
						</button>

					</div>

				</div>

			</div>

		</div>

	</form>

	<div class="card-information-box" data-ng-if="authorization">

		<div class="bg-master-lighter padding-30 b-rad-lg">

			<h4>Informações do cartão</h4>

			<div class="row">

				<div class="col-md-8">

					<div class="row">

						<div class="col-md-4 col-sm-4 all-caps font-montserrat">
							Bandeira:
						</div>

						<div class="col-md-8 col-sm-8">
							<img data-ng-src="{{ '/Custom/Content/Themes/Shared/Images/Payment/' + authorization.ImagePath | cdnify:'Payment' }}" width="51" height="31" style="display:inline-block;">
						</div>

					</div>

					<div class="row">

						<div class="col-md-4 col-sm-4 all-caps font-montserrat">
							Nº Cartão:
						</div>

						<div class="col-md-8 col-sm-8">
							(**** {{ authorization.Number | limitTo:-4 }})
						</div>

					</div>

					<div class="row">

						<div class="col-md-4 col-sm-4 all-caps font-montserrat">
							Titular:
						</div>

						<div class="col-md-8 col-sm-8">
							{{ authorization.Holder }}
						</div>

					</div>

					<div class="row">

						<div class="col-md-4 col-sm-4 all-caps font-montserrat">
							Valor:
						</div>

						<div class="col-md-8 col-sm-8">
							R$ {{ authorization.Amount }}
						</div>

					</div>

					<div class="row">

						<div class="col-md-4 col-sm-4 all-caps font-montserrat">
							Parcelas:
						</div>

						<div class="col-md-8 col-sm-8">
							{{ authorization.Installments }}x
						</div>

					</div>

				</div>

				<div class="col-md-4">

					<h5 style="margin-top:0;">
						<span class="all-caps font-montserrat" style="display: block;">Autorização:</span>
						<span style="display: block; margin-top: -10px; font-size: 14px; font-weight: normal;">{{ authorization.TransactionID }}</span>
					</h5>

					<button type="button" class="btn btn-danger btn-cons cancel-authorization" data-ng-click="unauthorizeCard()">Cancelar autorização</button>

				</div>

			</div>

		</div>

	</div>

</div>
