<div class="panel-body payment-items">

	<div data-pos-checkout-payment-option data-multiple-payments="multiplePayments" data-multiple-payments-min-amount="multiplePaymentsMinAmount" data-custom="true" data-payment-group="group" data-ng-repeat="group in paymentCustomsGroups" class="payment-method"></div>

	<div data-pos-checkout-payment-option data-offline="true" data-multiple-payments="multiplePayments" data-multiple-payments-min-amount="multiplePaymentsMinAmount" data-custom="false" data-payment-group="group" data-ng-repeat="group in offlineCollection" class="payment-method"></div>

	<div data-ng-if="!!offlineCardBase" data-offline="true" data-offline-card="true" data-pos-checkout-payment-option data-multiple-payments="multiplePayments" data-multiple-payments-min-amount="multiplePaymentsMinAmount" data-custom="false" data-can-collect="false" data-payment-group="offlineCardBase" data-can-authorize="multiplePaymentSettings.AllowMultipleCreditCards" class="payment-method"></div>

	<div data-pos-checkout-payment-option data-offline="true" data-offline-card="true" data-ng-if="multiplePaymentOfflineGroups.length && !!offlineCardBase" data-index="$index" data-custom="false" data-can-collect="canCollect" data-multiple-cards="true" data-payment-group="group" data-ng-repeat="group in multiplePaymentOfflineGroups" class="payment-method"></div>

	<h6 data-ng-click="addOffline()" class="payment-method add-card" data-ng-if="multiplePaymentSettings.AllowMultipleCreditCards && !!offlineCardBase">
		<i class="fa fa-plus-circle" aria-hidden="true"></i>
		Adicionar outro cartão offline
	</h6>

	<div data-pos-checkout-payment-option data-multiple-payments="multiplePayments" data-multiple-payments-min-amount="multiplePaymentsMinAmount" data-custom="false" data-can-collect="canCollect" data-payment-group="group" data-can-authorize="multiplePaymentSettings.AllowMultipleCreditCards" data-ng-repeat="group in paymentGroups | orderBy:group.Alias === 'CREDITCARD':true" class="payment-method"></div>

	<div data-pos-checkout-payment-option data-ng-if="multiplePaymentCreditCardGroups.length" data-index="$index" data-custom="false" data-can-collect="canCollect" data-multiple-cards="true" data-payment-group="group" data-ng-repeat="group in multiplePaymentCreditCardGroups" class="payment-method"></div>

	<h6 data-ng-click="addCard()" class="payment-method last-header add-card" data-ng-if="multiplePaymentSettings.AllowMultipleCreditCards">
		<i class="fa fa-plus-circle" aria-hidden="true"></i>
		Adicionar outro cartão
	</h6>

</div>
