<div class="add-card-form relative">

	<div class="bg-master-lighter padding-30 b-rad-lg">

		<div data-ng-if="isAuthorizable()" class="row m-t-25">

			<div class="col-md-6 col-sm-6 col-xs-12 pull-left">

				<div class="form-group form-group-default required">

					<label>Valor da compra</label>

					<input data-ng-disabled="!isAuthorizable()" type="text" class="form-control" name="cardValue" data-ng-change="onPaymentOfflineDataChange()" data-ng-model="customProperties[getOfflinePropertyInputModel('Value')]" pos-mask-currency required ng-model-options="{ updateOn: 'blur'}" placeholder="0,00" data-ng-class="{'has-error': amountNotValid}" />

				</div>

				<a data-ng-click="completeAmount();" data-ng-show="isAuthorizable()" href="#" style="position: relative; bottom: 5px;">Completar valor</a>

			</div>

		</div>

		<div class="row m-t-25">

			<div data-pos-browsing-metadata data-model="customProperties" data-metadata="property" data-on-change="onPaymentOfflineDataChange()" data-ng-repeat="property in offlineProperties" class="col-md-6 col-sm-6 col-xs-12"></div>

		</div>

	</div>

</div>
