<div class="paymentslip-selection">

	<div data-ng-show="!multiSelectionAllowed" class="bg-master-lighter padding-30 b-rad-lg">

		<div class="row">

			<div class="col-md-6">
				<h4 class="no-margin">Selecione o banco</h4>
			</div>

			<div class="col-md-1 p-r-0">

				<img data-ng-if="payment.paymentslipOption" data-ng-src="{{ '/Custom/Content/Themes/Shared/Images/Payment/' + payment.paymentslipOption.ImagePath | cdnify:'Payment' }}" alt="{{ payment.paymentslipOption.Description }}" width="50" height="35" style="margin-left: -10px;">

			</div>

			<div class="col-md-5">

				<div class="form-group m-b-0">

					<select class="form-control" data-ng-model="payment.paymentslipOption" data-ng-options="item as item.Title for item in paymentGroup.Items track by item.PaymentMethodID" data-disable-valid-styling="true" data-ng-change="updatePaymentslipOption(payment)"></select>

				</div>

			</div>

		</div>

	</div>

	<div data-ng-show="multiSelectionAllowed" class="bg-master-lighter padding-30 b-rad-lg">

		<div class="row">
			<div class="col-md-1" style="padding-right: 0; padding-top: 27px;">

				<img data-ng-if="payment.paymentslipOption" data-ng-src="{{ '/Custom/Content/Themes/Shared/Images/Payment/' + payment.paymentslipOption.ImagePath | cdnify:'Payment' }}" width="50" class="brand" alt="logo" style="margin-left:-10px;">

			</div>
			<div class="col-md-4">

				<label class="" style="width:100%;font-family: 'Montserrat';font-size: 11px;text-transform: uppercase;font-weight: 600;">Banco</label>

				<select class="form-control" data-ng-model="payment.paymentslipOption" data-ng-options="item as item.Title for item in paymentGroup.Items track by item.PaymentMethodID" data-disable-valid-styling="true" data-ng-change="updatePaymentslipOption(payment)"></select>

			</div>

			<div class="col-md-7" style="padding-top: 24px;">

				<div class="row">

					<div class="col-md-5 text-right" style="padding-right: 0px;">
						<a href="#" data-ng-click="completeAmount();" style="display:block; margin-top:7px;font-size: 14px;font-weight: 300;">Completar valor</a>
					</div>

					<div class="col-md-7">

						<div data-ng-class="{'has-error': amountNotValid}" class="input-group transparent validate">
							<span class="input-group-addon">R$</span>
							<input data-pos-mask-currency data-ng-model="optionAmount" type="text" placeholder="0,00" class="form-control option-amount" placeholder="0,00">
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>
