<div class="row recent-sales-representative">

	<div class="col-md-12">
		<h5 class="p-t-35 m-b-30 text-center">Usuários recentes</h5>
	</div>

	<div class="col-md-6 col-xs-12 representative" data-ng-repeat="representative in list | limitTo: -4">

		<div class="card share full-width" data-ng-click="loginWithRecent(representative)">

			<div class="card-header clearfix">

				<div class="user-pic pull-left">
					<img data-ng-src="{{ representative.ImageTimestamp }}" alt="{{ representative.Name }}" width="33" height="33" data-fallback-src="{{ defaultAvatar }}">
				</div>

				<span class="pull-left p-t-5 representative-name">{{ representative.Name }}</span>

			</div>

		</div>

		<button type="button" class="btn btn-link remove" data-ng-click="removeFromRecent(representative)">
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>

	</div>

</div>
