<div class="sales-representative-summary clearfix">

	<div class="pull-left m-t-10 p-r-10 fs-16 font-heading text-right sales-representative-name">
		<span class="semi-bold">{{ salesRepresentative.Name }}</span>
		<div data-ng-if="currentPointOfSale" class="text-right point-of-sale-name">
			<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
			{{ currentPointOfSale.Name }}
		</div>
	</div>

	<div class="dropdown pull-right">

		<button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

			<span class="thumbnail-wrapper d32 circular inline">
				<img data-ng-src="{{ salesRepresentative.ImageTimestamp }}" alt="{{ salesRepresentative.Name }}" width="32" height="32" data-fallback-src="{{ defaultAvatar }}">
			</span>

		</button>

		<ul class="dropdown-menu profile-dropdown" role="menu">

			<li>

				<a href="#switch-sales-representative" data-ng-click="switchSalesRepresentative($event)">
					<i class="pg-suitcase"></i>
					Representante
				</a>

			</li>

			<li data-ng-if="currentPointOfSale">

				<a href="#switch-point-of-sale" data-ng-click="switchPointOfSale($event)">
					<i class="fa fa-map-marker"></i>
					Pontos de venda
				</a>

			</li>

			<li data-ng-if="false">

				<a href="#">
					<i class="pg-settings_small"></i>
					Configurações
				</a>

			</li>

			<li data-ng-if="false">

				<a href="#">
					<i class="pg-outdent"></i>
					Feedback
				</a>

			</li>

			<li>

				<a href="http://hd.corecommerce.com.br/hc/" target="_blank">
					<i class="pg-signals"></i>
					Ajuda
				</a>

			</li>

			<li class="bg-master-lighter">

				<a href="#sign-out" data-ng-click="signOut()" class="clearfix">

					<span class="pull-left">Sair</span>

					<span class="pull-right">
						<i class="pg-power"></i>
					</span>

				</a>

			</li>

		</ul>

	</div>

</div>
