<div class="row sales-representative-signin">

	<h5 class="p-t-35 text-center" data-ng-if="!hasRepresentative">Preencha os dados abaixo</h5>

	<button type="button" class="btn btn-link btn-go-back p-t-45 m-t-15 m-b-15" data-ng-if="hasRepresentative" data-ng-click="toggleHasRepresentative()">
		<i class="fa fa-chevron-left"></i> Voltar
	</button>

	<form name="form" class="p-t-15" role="form" data-ng-submit="signIn(vm)" novalidate>

		<div class="form-group form-group-default" data-ng-if="!hasRepresentative">

			<label for="user">Usuário</label>

			<div class="controls">
				<input type="text" id="user" name="user" class="form-control" aria-required="true" data-ng-model="vm.user" required>
			</div>

		</div>

		<div class="card share full-width" data-ng-if="hasRepresentative">

			<div class="card-header clearfix">

				<div class="user-pic pull-left">
					<img data-ng-src="{{ representative.ImageTimestamp }}" alt="{{ representative.Name }}" width="33" height="33" data-fallback-src="{{ defaultAvatar }}">
				</div>

				<span class="pull-left p-t-5 representative-name">{{ representative.Name }}</span>

			</div>

		</div>

		<div class="form-group form-group-default">

			<label for="password">Senha de acesso</label>

			<div class="controls">
				<input type="password" id="password" name="password" class="form-control" aria-required="true" data-ng-model="vm.password" required>
			</div>

		</div>

		<div class="col-md-6 no-padding">

			<div class="checkbox">
				<input type="checkbox" id="checkbox" data-ng-model="vm.keepMe">
				<label for="checkbox">Lembrar meu usuário</label>
			</div>

		</div>

		<div class="row m-t-20">

			<div class="col-md-12 text-center">

				<button data-pos-loader="isRequesting" type="submit" class="btn btn-primary p-l-80 p-r-80 p-t-10 p-b-10" data-ng-disabled="form.$invalid">
					Acessar
				</button>

			</div>

		</div>

	</form>

</div>
