<div class="login-container bg-white container">

	<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 p-b-50 m-b-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">

		<div class="row">

			<span class="brand text-center center-block" data-ng-include src="'brand.html'"></span>

		</div>

		<sales-representative-signin data-ng-show="showSignIn"></sales-representative-signin>

		<recent-sales-representative list="recentSalesRepresentative" data-ng-show="showRecent"></recent-sales-representative>

		<div class="row">

			<div class="col-md-12 text-center m-t-20">

				<button type="button" class="btn btn-link btn-toggle" data-ng-click="toggleVisible()" data-ng-if="recentSalesRepresentative.length">
					<span data-ng-if="showRecent">Fazer login com outro usuário</span>
					<span data-ng-if="showSignIn">Fazer login com usuário recente</span>
				</button>

			</div>

		</div>

	</div>

</div>
