<div class="modal-header">

	<button type="button" class="close" aria-hidden="true" data-ng-click="closeModal()">
		<i class="pg-close fs-14"></i>
	</button>

</div>

<div class="modal-body">

	<div class="container login-container bg-white">

		<sales-representative-signin data-ng-show="showSignIn"></sales-representative-signin>

		<recent-sales-representative list="recentSalesRepresentative" data-ng-show="showRecent"></recent-sales-representative>

		<div class="row">

			<div class="col-md-12 text-center m-t-20">

				<button type="button" class="btn btn-link btn-toggle" data-ng-click="toggleVisible()" data-ng-if="recentSalesRepresentative.length">
					<span data-ng-if="showRecent">Fazer login com outro usuário</span>
					<span data-ng-if="showSignIn">Fazer login com usuário recente</span>
				</button>

			</div>

		</div>

	</div>

</div>
