<div class="row" data-ng-if="!onlyNew">

	<div class="col-md-4 col-sm-4">

		<div data-pos-order-type data-context="summary"></div>

	</div>

	<div class="col-md-3 col-sm-4 col-xs-6 p-0">

		<button type="button" class="btn btn-link btn-block btn-sm" data-ng-click="openModal('new')" data-ng-if="!quote.QuoteID" data-ng-disabled="!hasBasket">
			<i class="fa fa-eraser" aria-hidden="true"></i> Limpar
		</button>

		<button type="button" class="btn btn-link btn-block btn-sm" data-ng-click="openModal('new')" data-ng-if="quote.QuoteID">
			<i class="fa fa-file-text-o" aria-hidden="true"></i> Novo
		</button>

	</div>

	<div class="col-md-3 col-sm-4 col-xs-6 p-0">

		<button type="button" class="btn btn-link btn-block btn-sm" data-ng-click="openModal('save')" data-ng-disabled="!hasBasket || basketIsReadOnly">
			<i class="fa fa-save" aria-hidden="true"></i> Salvar
		</button>

	</div>

</div>

<span data-ng-if="onlyNew">

	<button class="btn btn-link m-t-10 pull-right btn-new-quote" data-ng-click="addQuoteFromNew(hasBasket)">
		<i class="fa fa-plus" aria-hidden="true"></i>
		Novo orçamento
	</button>

</span>
