<div class="modal-header clearfix text-left">

	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="closeModal($event)">
		<i class="pg-close fs-14"></i>
	</button>

	<h5>
		<span class="semi-bold">Editar notas do orçamento <strong>{{ quote.QuoteNumber }}</strong></span>
	</h5>

</div>

<div class="modal-body">

	<form data-ng-submit="saveComment(quote)" role="form">

		<div class="row">

			<div class="form-group col-md-12 col-sm-12">
				<label for="comments">Observações</label>
				​<textarea class="form-control" rows="8" name="Comments" id="Comments" data-ng-model="quote.Comments"></textarea>
			</div>

		</div>

		<div class="row">

			<div class="col-sm-4 m-t-10 sm-m-t-10 col-sm-offset-4 col-md-offset-4">

				<button type="button" class="btn btn-default btn-block m-t-5" data-ng-click="closeModal($event)">
					Cancelar
				</button>

			</div>

			<div class="col-sm-4 m-t-10 sm-m-t-10">

				<button type="submit" class="btn btn-success btn-block m-t-5">
					Salvar notas
				</button>

			</div>

		</div>

	</form>

</div>
