<div class="modal-header clearfix text-left">

	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="closeModal($event)">
		<i class="pg-close fs-14" aria-hidden="true"></i>
	</button>

	<h5>
		<span class="semi-bold">Enviar orçamento por e-mail</span>
	</h5>

</div>

<div class="modal-body">

	<form role="form" data-ng-submit="sendMail(vm)">

		<div class="row">

			<div class="form-group col-md-12 col-sm-12">

				<label for="email">Digite os e-mails para enviar a proposta</label>

				<button type="button" class="btn btn-link btn-sm" data-ng-if="customer.Email" data-ng-click="setCustomerEmail()">
					<i class="fa fa-user m-r-5"></i>
					Usar e-mail do cliente
				</button>

				<input class="form-control" type="{{ emailType }}" data-ng-change="changeEmailInputType(vm.Email)" name="email" id="email" data-ng-model="vm.Email">

			</div>

		</div>

		<div class="row">

			<div class="col-sm-offset-3 col-md-offset-3 col-sm-4 m-t-10 sm-m-t-10">
				<button type="button" class="btn btn-default btn-block m-t-5" data-ng-click="closeModal($event)">Cancelar</button>
			</div>

			<div class="col-sm-5 m-t-10 sm-m-t-10">
				<button type="submit" class="btn btn-success btn-block m-t-5" data-pos-loader="sendingMail">Enviar</button>
			</div>

		</div>

	</form>

</div>
