<div class="modal-header clearfix text-left">

	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="closeModal($event)">
		<i class="pg-close fs-14"></i>
	</button>

	<h5>
		<span class="semi-bold">Deseja salvar o orçamento atual?</span>
	</h5>

	<p>Você pode guardar o orçamento atual para uso futuro.</p>

</div>

<div class="modal-body">

	<div class="row">

		<div class="col-sm-offset-4 col-md-offset-4 col-sm-4 m-t-10 sm-m-t-10">

			<button type="button" class="btn btn-text btn-danger btn-block m-t-5" data-ng-click="discard()">
				Descartar
			</button>

		</div>

		<div class="col-sm-4 m-t-10 sm-m-t-10">

			<button type="button" class="btn btn-success btn-block m-t-5" data-ng-click="save({}, true)">
				Salvar orçamento
			</button>

		</div>

	</div>

</div>
