<div class="modal-header clearfix text-left">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
	</button>
	<h5><span class="semi-bold">Editar notas do orçamento <strong>2016.1423-12</strong></span></h5>
</div>

<div class="modal-body">
	<form action="" id="">
		<div style="display: block;">
			<div class="card-validation col-md-12">
				<div class="bg-check-card">
				</div>
				<div class="progress-circle-indeterminate progress-circle-success check-card" style="display: block;"></div>
				<i class="fa fa-check-circle check-complete"></i>
			</div>
			<div class="row">
				<div class="form-group col-md-12 col-sm-12">
					<label for="">Observações</label>
					​<textarea class="form-control" rows="8"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4 m-t-10 sm-m-t-10">
					<button type="button" class="btn btn-default btn-block m-t-5" onclick="closeModal('#editarNotas')">Cancelar</button>
				</div>
				<div class="col-sm-4 m-t-10 sm-m-t-10">
					<button type="button" class="btn btn-success btn-block m-t-5 salvar-notas">Salvar notas</button>
				</div>
			</div>
		</div>
	</form>
</div>
