<div class="modal-header clearfix text-left">

	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="closeModal($event)">
		<i class="pg-close fs-14" aria-hidden="true"></i>
	</button>

	<h5>
		<span class="semi-bold">Salvar orçamento</span>
	</h5>

</div>

<div class="modal-body relative">

	<form role="form" data-ng-submit="save(vm)">

		<div class="row">

			<div class="form-group col-md-12 col-sm-12">

				<label for="Comments">Observações</label>
				<small style="color: #777;">As notas <strong>não</strong> ficarão visíveis para os clientes.</small>

				<textarea class="form-control" rows="8" name="Comments" id="Comments" data-ng-model="vm.Comments"></textarea>

			</div>

			<div class="form-group col-md-12 col-sm-12">

				<div class="checkbox check-success">

					<input type="checkbox" checked="checked" data-ng-model="vm.SendEmail" id="SendEmail" data-disable-valid-styling="true">
					<label for="SendEmail">Enviar orçamento por e-mail</label>

					<button type="button" class="btn btn-link btn-sm" data-ng-if="vm.SendEmail && customer.Email" data-ng-click="setCustomerEmail()">
						<i class="fa fa-user m-r-5"></i>
						Usar e-mail do cliente
					</button>

				</div>


			</div>

			<div class="form-group col-md-12 col-sm-12">

				<label for="email" class="hidden">E-mail</label>

				<input class="form-control" type="email" name="email" id="email" data-ng-model="vm.Email" data-ng-if="vm.SendEmail">

			</div>

		</div>

		<div class="row">

			<div class="col-sm-offset-3 col-md-offset-3 col-sm-4 m-t-10 sm-m-t-10">
				<button type="button" class="btn btn-default btn-block m-t-5" data-ng-click="closeModal($event)">Cancelar</button>
			</div>

			<div class="col-sm-5 m-t-10 sm-m-t-10">
				<button type="submit" class="btn btn-success btn-block m-t-5" data-pos-loader="savingQuote">Salvar</button>
			</div>

		</div>

	</form>

</div>
