<div class="quantity">

	<div class="change btn-group">

		<button data-ng-disabled="amount <= 0" data-ng-click="decreaseAmount()" class="btn btn-default" title="Diminuir">-</button>

		<input data-ng-disabled="!isPurchasable" data-ng-model="amount" type="text" class="form-control" min="0" max="{{ notControlStock ? 99999 :stockBalance}}">

		<button data-ng-disabled="amount >= stockBalance && !notControlStock" data-ng-click="increaseAmount()" class="btn btn-default" title="Adicionar">+</button>

	</div>

</div>
