<div class="modal-content product-detail">

	<div class="modal-header clearfix text-left">

		<button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>

		<h5>Informações do produto</h5>

	</div>

	<div class="modal-body">

		<div class="panel panel-transparent">

			<ul class="nav nav-tabs nav-tabs-linetriangle">

				<li class="active details-tab">

					<a data-toggle="tab" aria-controls="details-01" role="tab"  href="#details-01" aria-expanded="true"><span>Detalhes</span></a>

				</li>

				<li class="stock-tab">

					<a data-toggle="tab" aria-controls="stock-01" role="tab" data-ng-click="tryOpenStockTab($event);" data-ng-href="{{stockTabHref}}" aria-expanded="false"><span>Estoque</span></a>

				</li>

				<li data-ng-show="showStockMsgs">

					<span data-ng-show="showSelectVariationMsg" class="label label-danger label-select-variations" style="float:left; margin-top: 16px;">Selecione a variação para visualizar o estoque</span>

					<span data-ng-show="showVariationSelectedMsg" class="label label-success label-see-stock" style="float:left; margin-top: 16px;">Visualize a disponibilidade do produto nos estoques</span>

				</li>

			</ul>

			<div class="tab-content">

				<div class="tab-pane active" id="details-01">

					<div id="product-wrapper" data-pos-product-detail data-product-id="product.ProductID" data-jquery-scrollbar ></div>

				</div>

				<div class="tab-pane" id="stock-01">

					<div class="row">

						<div class="col-md-12">

							<h5>Lista de lojas e estoque do produto</h5>

							<h6>{{ productName }} <span data-ng-if="!!skuName">-</span> {{skuName}} <a data-ng-if="!!skuName" onClick="setTimeout((function(){$('.stock-tab').removeClass('active');$('.details-tab').addClass('active');}), 100)" data-toggle="tab" href="#details-01" class="alterar-produto"><i class="fa fa-edit" style="display: inline-block; margin-left:20px;"></i>Alterar configuração</a></h6>

							<div class="table-responsive">

								<div id="condensedTable_wrapper" class="dataTables_wrapper form-inline no-footer">

									<table class="table table-hover table-condensed dataTable no-footer stock-table" id="condensedTable" role="grid">

										<thead data-ng-if="sellersOrigin.length > 0">

											<tr role="row">

												<th class="sorting_asc app-col-md-5" aria-controls="condensedTable" rowspan="1" colspan="1" aria-sort="ascending">loja</th>

												<th class="sorting app-col-md-3" aria-controls="condensedTable" rowspan="1" colspan="1">Disponibilidade</th>

												<th class="sorting app-col-md-1" aria-controls="condensedTable" rowspan="1" colspan="1">Estoque</th>

												<!-- <th class="sorting app-col-md-4" tabindex="0" aria-controls="condensedTable" rowspan="1" colspan="1">Quantidade</th> -->

												<!-- <th class="sorting app-col-md-2" aria-controls="condensedTable" rowspan="1" colspan="1">Ações</th> -->

											</tr>

										</thead>

										<tbody>
											<tr data-ng-if="sellersOrigin.length <= 0" role="row" class="odd">
												<td>{{ noStockTitle }}</td>
											</tr>
											<tr data-ng-if="sellersOrigin.length > 0" data-ng-repeat="seller in sellersOrigin" role="row" class="odd">

												<td class="v-align-middle app-col-md-5 semi-bold sorting_1" data-ng-bind="seller.PointOfSale.Name || seller.SellerName"></td>

												<td class="v-align-middle app-col-md-1">
													{{ seller.IsPurchasable ? 'Disponível' : 'Indiponível' }}
												</td>

												<td class="v-align-middle app-col-md-3" data-ng-bind="seller.StockBalance"></td>

												<!-- <td class="v-align-middle app-col-md-4">

													<div data-pos-product-amount data-amount="seller.productAmount" data-stock-balance="seller.StockBalance" data-is-purchasable="seller.IsPurchasable" data-backorderable="seller.Backorderable" data-manage-stock="seller.ManageStock"></div>

												</td> -->

												<!-- <td class="v-align-middle app-col-md-2 semi-bold">

													<button data-ng-click="addToBasket(seller)" data-ng-disabled="!seller.IsPurchasable && !isLoading(seller)" class="btn btn-success btn-add-stock">Comprar <i data-ng-hide="!isLoading(seller)" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw margin-bottom"></i></button>

												</td> -->

											</tr>

										</tbody>

									</table>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>
