<div class="full-height bg-white basket-summary">

	<div class="full-height">

		<div class="p-10 clearfix" data-ng-class="{ 'b-b-dashed': basket.Items.length }">

			<div class="budget-id pull-left" data-ng-if="basket.Items.length">
				<strong >
					<i class="fa fa-file-text"></i>
					<b>2016.1423-12</b>
				</strong>
			</div>

			<div data-pos-customer-signin class="pull-right visible-md visible-lg"></div>

		</div>

		<div class="budget-actions b-b-dashed" data-ng-if="basket.Items.length">

			<div class="row">

				<div class="col-md-4">

					<button type="button" class="btn btn-link btn-block btn-sm p-t-0 p-b-0">
						<i class="fa fa-file-text-o"></i> Novo
					</button>

				</div>

				<div class="col-md-4">

					<button type="button" class="btn btn-link btn-block btn-sm p-t-0 p-b-0">
						<i class="fa fa-pencil"></i> Notas
					</button>

				</div>

				<div class="col-md-4">

					<button type="button" class="btn btn-link btn-block btn-sm p-t-0 p-b-0">
						<i class="fa fa-save"></i> Salvar
					</button>

				</div>

			</div>

		</div>

		<div class="table-responsive budget-scrollbar" data-jquery-scrollbar>

			<table class="table m-t-0 m-b-0">

				<tbody data-ng-if="basket.Items.length">

					<tr class="basket-item" data-ng-repeat-start="item in basket.Items">

						<td style="max-width: 100px; min-width: 100px;">

							<input type="number" size="2" class="form-control" min="{{ item.Product.MinimumQtyAllowed }}" max="{{ item.Product.MaximumQtyAllowed }}" data-ng-model="item.Quantity" data-ng-blur="changeProductQuantity(item)" data-ng-disabled="updatingBasket" required>

						</td>

						<td>

							<a href="#" class="basket-item-name">{{ item.Name }}</a>

						</td>

						<td class="text-right">

							<p class="text-black nowrap">{{ item.RetailPrice | currency:'R$ ' }}</p>

							<p class="small hint-text" data-ng-if="item.ListPrice !== item.RetailPrice">
								<del>{{ item.ListPrice | currency:'R$ ' }}</del>
							</p>

						</td>

						<td>

							<button type="button" class="btn btn-link" data-ng-click="removeProductFromBasket(item.BasketItemID)">
								<i class="fa fa-trash fa-1dot5x"></i>
							</button>

						</td>

					</tr>

					<tr data-ng-repeat-end class="basket-item-details" data-ng-if="false">
						<td colspan="4">
							<div class="row">
								<div class="col-md-6">
									<a href="" class="btn btn-default open-details-modal">
										<i class="fa fa-eye"></i>
										Detalhes do produto
									</a>
								</div>
								<div class="col-md-6 slide-checkbox form-group">

									<label>Desconto</label>

									<div class="switch-container pull-left">
										<input type="checkbox" checked="checked" data-ng-model="switch2" data-ui-switch>
									</div>

									<div class="form-group form-group-default group-discount" aria-required="true">
										<input type="number" class="form-control">
									</div>

									<a href="" class="allow-discount pull-right">Liberar desconto</a>

									<div class="pin-allow pull-right text-left">
										<input type="text" name="pin" class="form-control input-pin pull-left" placeholder="Código:" style="width:50%; margin-right:0px;">
										<button class="btn btn-complete allow pull-right" style="width:50%;">Liberar</button>
									</div>

								</div>
							</div>
						</td>
					</tr>

				</tbody>

				<tfoot data-ng-if="!basket.Items.length">
					<tr>
						<td colspan="4" class="text-center">Ainda não foram adicionados produtos</td>
					</tr>
				</tfoot>

			</table>

		</div>

		<div class="table-responsive table-totals">

			<table class="table m-t-0 m-b-0">
				<tbody>

					<tr>

						<td class="text-black">
							<p>Subtotal</p>
						</td>

						<td class="text-right">
							<p>{{ basket.SubTotal | currency:'R$ '}}</p>
						</td>

					</tr>

					<tr>

						<td class="v-align-middle text-black">

							<p>Descontos</p>

							<a href="#open-gift-certificate-modal" data-ng-click="openGiftCertificateModal($event)" class="font-small">

								<i class="fa fa-plus-circle" aria-hidden="true" data-ng-if="!basket.DiscountAmount"></i>
								<i class="fa fa-edit" aria-hidden="true" data-ng-if="basket.DiscountAmount"></i>

								Cupons/Vale-compras

							</a>

						</td>

						<td class="v-align-middle text-right text-black">
							{{ basket.DiscountAmount | currency:'R$ ' }}
						</td>

					</tr>

					<tr>

						<td>
							<p class="text-black">Desconto representante</p>
						</td>

						<td class="text-right">

							<div class="pull-left">
								<span>R$</span>
								<input type="checkbox" data-ng-model="discountSwitch" data-ng-checked="true" data-ui-switch="{ size: 'small', color: '#0a7aca', secondaryColor: '#0a7aca' }">
								<span>%</span>
							</div>

							<div class="pull-right">

								<div class="form-group form-group-default m-b-0">
									<input type="number" class="form-control input-sm" style="width: 85px;">
								</div>

								<a href="" data-ng-if="false" class="allow-discount pull-right">Liberar desconto</a>

							</div>

							<div class="pin-allow pull-right text-left" data-ng-if="false">
								<input type="text" name="pin" class="form-control input-pin pull-left" placeholder="Código:" style="width:166px; margin-right:10px;">
								<button class="btn btn-complete allow pull-right">Liberar</button>
							</div>

						</td>

					</tr>

					<tr>

						<td>
							<strong class="text-black">Total</strong></p>
						</td>

						<td class="text-right">
							<strong class="text-black">{{ basket.Total | currency:'R$ '}}</strong>
						</td>

					</tr>

				</tbody>
			</table>

		</div>

		<div class="m-t-20 p-l-20 p-r-20">

			<a data-ui-sref="basket" class="btn btn-success btn-lg btn-block visible-md visible-lg" data-ng-disabled="!basket.Items.length">
				Continuar <small>(Carrinho completo)</small>
			</a>

		</div>

	</div>

</div>
